@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #eee;
}
.container {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding: 20px;
}
a.img {
	text-align: center;
	text-decoration: none;
}
img {
	display: block;
	height: 300px;
	width: 300px;
}
.img p{
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
.content h2 {
	text-align: center;
	text-transform: uppercase;
}
.text-bold-red {
	font-weight: bold;
	color: red;
}
