.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.mt-50 {
  margin-top: 50px;
}
.active {
  border : 3px solid #000;
}
#content {
  padding: 10px;
  border: solid 3px red;
}
span {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}