* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clear {
	clear: both;
} 

html, body {
	width: 100%;
	height: 100%;
}

.bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.bg img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.dialog_start {
	position: fixed;
	animation: 3s start_dialog ease 1;
	top: 20%;
	width: 30%;
	left: 35%;
	opacity: 0.9;
	background-color: #eee;
	z-index: 2;
	border-radius: 10px;
	padding: 2%;
}

.content {
	width: 100%;
	text-align: center;
	margin-top: 10%;
}

.content img {
	width: 100%;
}

.lose_dialog, .congrat_dialog {
	animation: 3s start ease 1;
	position: fixed;
	top: 20%;
	width: 30%;
	left: 35%;
	opacity: 0.9;
	background-color: #eee;
	z-index: 2;
	border-radius: 10px;
	padding: 2%;
}

.content {
	width: 100%;
	text-align: center;
	margin-top: 10%;
}

.img_content1 {
	width:60%;
	margin-right: 20%;
	margin-left: 20%;
}

.content img {
	width: 100%;
}

.dialog_start button, .replay {
	padding: 5px;
	background: green;
	border-radius: 5px;
	width: 20%;
	color: white;
	font-size: 1.2em;
}

.dialog_start button:hover, .lose_dialog button:hover, .congrat_dialog button:hover {
	box-shadow: 0 0 10px 5px gray;
}

@keyframes start_dialog {
	0% {	
		display: none;
	}
	50% {
		margin-top: -500%;	
	}
	100% {
		margin-top: 0;	
	}
}

.timer {
	position: absolute;
	top: 0;
	width: 70%;
	left: 15%;
	height: 10%;
	animation: 2s start ease 1;
	padding: 2%;
}

.timer progress {
	width: 100%;
	opacity: 0.8;
}

progress[value] {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.wrapper {
	width: 70%;
	position: absolute;
	left: 15%;
	top: 10%;
	height: 90%;
}

.thumb {
	float: left;
	width: 20%;
	padding: 2%;
}

.card {
	width: 100%;
	position: relative;
	animation: 2s start ease 1;
}

.card img {
	width: 100%;
	vertical-align: middle;
	transition: all 0.5s linear;
}

.card img:hover {
	box-shadow: 0 0 10px 5px white;
}

@keyframes start {
	0% {
		margin-top: -500%;	
	}
	100% {
		margin-top: 0;	
	}
}

.back {
	backface-visibility: hidden;
	transition: all 0.5s linear;
}

.front {
	backface-visibility: hidden;
	transform: rotateY(180deg);
	transition: all 0.5s linear;
	position: absolute;
	top: 0;
	left: 0;
}

.card.flipped .front {
	transform: rotateY(0deg);
	box-shadow: 0 0 10px 5px white;
}

.card.flipped .back {
	transform: rotateY(180deg);
}

.snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
}
