@import "style.css";

#homework-container {
    display: flex;
    justify-content: space-around;
}
.row {
    max-width: 100%;
}
section.tile-hw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 40%;
    -moz-box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 2px #eee;
    transition: 0.5s;
    background-size: 200% auto;
    margin-top: 5%;
    min-width: 250px;
    padding: 3%;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #adee8a;
    color: #3e3e3e;
}
.due-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}
p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.tile-hw .button-container {
    display: flex;
    justify-content: space-between;
}
.tile-hw .button-container a {
    color: #3e3e3e;
    width: 45%;
}
.tile-button {
    -moz-box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 2px #eee;
    background-color: white;
    border-radius: 5px;
    padding: 10%;
    line-height: 10%;
    border-bottom: 2px solid #dddddd;
}
a {
    line-height: inherit;
    color: #2ba6cb;
    text-decoration: none;
    cursor: pointer;
}