/*-----------------------------Font face------------------------------*/
@font-face {
    font-family: 'latobold';
    src: url('./fonts/lato-bold-webfont.woff2') format('woff2'),
         url('./fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('./fonts/lato-light-webfont.woff2') format('woff2'),
         url('./fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('./fonts/lato-regular-webfont.woff2') format('woff2'),
         url('./fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('./fonts/lato-regularitalic-webfont.woff2') format('woff2'),
         url('./fonts/lato-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: latoregular;
}
.container {
	padding: 0;
}
p {
    font-size: 16px;
    color: #4D4D4D;
    font-family: latoregular;
}
a {
	text-decoration:  none;
	display: inline-block;
	color: #4D4D4D;
}
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
img {
	display: block;
	max-width: 100%;
	margin: auto;
}
.color-text-main {
	color: #4D4D4D;
}
.color-main-web {
	color: #C5B291;
}
.color-green {
	color: #57AF8A;
}
.bg-main {
	background: #C5B291;
}
.bg-green {
	background: #57AF8A;
}
.border-main {
	border: 1px solid #C5B291;
}
.border-none {
	border: none;
}
.text-white {
	color: #ffffff;
}
.font-14 {
	font-size: 14px !important;
}
.font-16 {
	font-size: 16px !important;
}
.font-20 {
	font-size: 20px !important;
}

/*////////-------HEADER---------/////////*/
.contact-link-header {
	background: #f8f8f8;
}
.container-header {
	padding-left:  80px;
	padding-right: 80px; 
}
.contact-link-header  p {
	padding-top: 10px;
	padding-bottom:  10px;
}
img.logo {
	width: 106px;
	height: 102px;
}
.search-box {
	width: 600px;
	height: 45px;
}
.search-box .btn-search {
	height: 100%;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	font-family:  latobold;
}
.search-box input[type="text"] {
    height: 100%;
    width: 82.8%;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-login {
	margin-left: 25px;
}
.btn-login .btn-login-icon {
	display: inline-block;
	margin-right: 4px;
}

/*--------------Thanh dieu huong---------------*/
nav {
	margin-top:  40px;
	margin-bottom:  30px;
}
nav ul li a {
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;;
	margin-right: 15px;
	margin-left: 15px;
	border-bottom: 2px solid transparent;
	transition: all .2s ease
}
nav ul li a:hover {
	color: #4D4D4D;
	border-bottom:  2px solid #C5B291;
}
/*------------------new-product-------------------*/
#new-product, #discounted-product, #blog {
	width: 1000px;
	margin: auto;
}
.purchase-policy {
	margin-top: 60px;
	margin-bottom: 60px;
	height: 100px;
}
.purchase-policy-item {
	height: 100%;
	flex: 33.33%;
}
.border-both {
	border-right: 1px solid #C5B291;
	border-left: 1px solid #C5B291;

}
.purchase-policy-item-icon > span {
	display: inline-block;
	font-size: 40px;
	color:  #57AF8A;
	margin-right: 32px;
}
.purchase-policy-item-content {
	color: #57AF8A !important;
}
.purchase-policy-item-content h3{
	font-size: 18px;
	font-family: latobold;
}
.purchase-policy-item-content p{
	font-size: 14px;
	color: #57AF8A;
	font-family: latoregular;
}
/*//tiêu đề sản phẩm mới*/
.title-new-product {
	border-bottom: 1px solid #C5B291;
}
.lable-new {
	width: 244px;
	height: 60px;
	background: #C5B291;
}
.lable-new > span {
	display: inline-block;
	font-size: 26px;
	color: #ffffff;
}

.list-new-product {
	margin-top: 60px;
	margin-bottom: 120px;
}
.product-item .img-product {
	position: relative;
}
.product-item .img-product img{
	width: 215px;
	height: auto;
}
.product-item .img-product .link-product {
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 80%;
	height: 40px;
	background: #414141;
	color: #ffffff;
	opacity: 0;
	transition: all .3s ease;
}
.product-item .img-product:hover .link-product {
	opacity: 1;
}

.decript-product .name-product {
	margin-top: 12px;
	margin-bottom: 12px;
}

.decript-product .price-product {
	font-size: 20px;
	color: #C75050
}
/*------------------san pham giam giá-------------------*/
#discounted-product {
	margin-top: 120px;
}
#discounted-product .list-new-product .product-item {
	margin-bottom: 58px;
}
.see-more {
	display: block;
	width: 154px;
	height: 44px;
	border-radius: 4px;
	border: none;
	margin: auto;
}


/*------------------blog-------------------*/
.blog-item .img-blog img{
	width: 296px;
	height: auto;
}


/*------------------footer-------------------*/
footer {
	border-top: 1px solid #C5B291;
	padding: 50px 10%;
}
footer h2 {
	font-size:  24px;
	font-family: latobold;
}
footer ul li a {
	font-size:  16px;
	font-family: latoregular;
	line-height: 32px;
}
footer ul li a:hover {
	color: #C5B291;
}
.register-email {
	width: 400px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.register-email .btn-register-email {
	height: 100%;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	font-family:  latobold;
}
.register-email input[type="text"] {
    height: 100%;
    width: 71.5%;
    padding-right: 10px;
    padding-left: 10px;
}
.follow > span {
	line-height: 32px;
}
.follow .icon-follow span {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	cursor: pointer;
}
.follow .icon-follow .facebook {
	color: #3b5998;
}
.follow .icon-follow .youtube {
	color: #DB4437;
}
.follow .icon-follow .twitter {
	color: #00aced;
}