body {
    background-image: url(../img/banner-tetris.jpg);
    background-repeat: no-repeat;
    background-position: center -200px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: monospace;
}

h1 {
    font-size: 50px;
    margin-top: 0;
}

#score{
    display: inline-block;
}

.score-box{
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

canvas{
    display: block;
    margin:0 auto;
}
