*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #34465C;
    --sub-color: #565656;
    --icon-clor: #00BFA6;
}

body {
    color: var(--main-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.body-content {
    padding: 6rem 0;
}

.container--wrapper {
    background-color: #fff;
}

.ja .animate-box {
    opacity: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

p {
    line-height: 24px;
    margin-bottom: 12px;
}

.container-fluid {
    padding: 0;
}

.fe__title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 15px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #2c98f0;
    color: #fff;
    border: 2px solid #2c98f0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #44a4f2 !important;
    border-color: #44a4f2 !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #2c98f0;
    border: 2px solid #2c98f0;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #2c98f0;
    color: #fff;
}

.position--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.narrow-content {
    padding: 0 2.5em;
}

@media screen and (max-width: 768px) {
    .body-content {
        padding: 0 0 3rem 0;
    }

    .fe__title {
        font-size: 24px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .body-content {
        padding: 0;
    }
}

/* ===========================
/////Đối tượng học viên/////
=========================== */
.person--wrapper {
    display: flex;
    flex-direction: row;
}

.person__info {
    flex: 0 0 50%;
}

.person__info--container {
    padding: 1rem;
}

.person__info p {
    display: flex;
}

.person__info p span {
    display: inline-block;
    color: var(--icon-clor);
    margin-right: .8rem;
}

.person__img {
    flex: 0 0 50%;
}

@media (max-width:768px) {
    .person--wrapper {
        flex-direction: column;
    }

    .person__info,
    .person__img {
        width: 100%;
    }

    .person__img {
        padding: 1rem;
    }

    .person__img--container {
        border: 2px solid #f9f9f9;
    }
}

/* ===========================
/////Nội dung chính/////
=========================== */
.content--wrapper {
    display: flex;
}

.content__info {
    flex: 0 0 50%;
}

.content__info--container {
    padding: 1rem;
}

.content__info p {
    display: flex;
}

.content__info p span {
    display: inline-block;
    color: var(--icon-clor);
    margin-right: .8rem;
}

.content__img {
    flex: 0 0 50%;
}

@media (max-width:768px) {
    .content--wrapper {
        flex-direction: column-reverse;
    }

    .content__info,
    .content__img {
        width: 100%;
    }

    .content__img {
        padding: 1rem;
    }

    .content__img--container {
        border: 2px solid #f9f9f9;
    }
}

/* ===========================
/////Đối tượng học viên/////
=========================== */
#project {
    background-color: #F6F9FE;
}

.project {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.project .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c98f0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.project .desc .con {
    padding: 20px;
    display: block;
    position: relative;
    height: 300px;
}

.project .desc h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    margin-bottom: 15px;
}

.project .desc h3 a {
    color: #fff;
}

.project .desc span {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
}

.project .desc span a {
    color: #000;
}

@media screen and (max-width: 768px) {
    #project {
        padding: 3rem 1rem;
    }

    #project .body-content {
        padding-top: 1rem;
    }

    .project .desc {
        opacity: 1;
        background: rgba(0, 0, 0, 0.4);
    }

    .project .desc h3 {
        font-style: 28px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        color: #000;
    }

    .project .desc span {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.project:hover .desc {
    opacity: 1;
}

.project:hover .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.project:hover .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.btn-load-more {
    display: inline-block;
    margin: auto;
}

/* ===========================
/////Lộ trình/////
=========================== */
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 20px;
    bottom: 20px;
    margin-left: 29px;
}

.timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #a84cb8;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #2fa499;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f2f3f7;
    padding: 1.5em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p {
    margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    font-size: 15px;
    color: rgb(0, 0, 0, .7);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
}

@media (max-width:576px) {
    #track {
        padding: 3rem 1rem;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        margin-left: 45px;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner {
        margin-left: 0px;
    }

    .timeline-centered .timeline-entry {
        margin-left: 0px;
    }

    .timeline-centered:before {
        width: 2px;
        margin-left: 14px;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        padding: 1rem;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
        font-size: 18px;
        margin-bottom: 1rem !important;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
        margin-left: 5px;
    }
}

/* ===========================
/////Cam nhan hoc vien/////
=========================== */
#price {
    background-image: url('/resources/image/background-price.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}

#price .body-content {
    padding: 3rem 0;
}

#price .fe__title {
    color: #fff;
}

.price--wrapper {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.price {
    flex: 0 0 50%;
}

.price p {
    font-size: 18px;
    margin-bottom: 0;
}

.price__number {
    display: inline-block;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 2.5rem;
}

.price__month {
    display: inline-block;
    font-size: 16px;
}

.price__btns .btn {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
}

.price__btns .btn.btn__register {
    margin-right: 1rem;
}

.highlight {
    flex: 0 0 50%;
}

.highlight h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.highlight p {
    display: flex;
    font-weight: 300;
}

.highlight p span {
    display: inline-block;
    color: var(--icon-clor);
    margin-right: .8rem;
}

@media (max-width:768px) {
    #price {
        padding: 3rem 1rem;
    }

    #price .body-content {
        padding: 0;
    }

    .price--wrapper {
        flex-direction: column;
    }

    .price,
    .highlight {
        width: 100%;
    }

    .price {
        padding-bottom: 2rem;
        border-bottom: 1px solid rgb(0, 0, 0, .125);
    }

    .highlight {
        padding-top: 2rem;
    }
}

@media (max-width:576px) {
    .price__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .price p {
        text-align: center;
    }

    .price__number {
        margin-bottom: 0;
        font-size: 32px;
    }

    .price__btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn__register,
    .btn__advisory {
        flex: 0 0 48%;
    }

    .highlight h1 {
        font-size: 28px;
    }
}


/* ===========================
/////Cam nhan hoc vien/////
=========================== */
.student--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.student__cmt {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0, .125);
    margin: 1rem;
}

.cmt__content--wrapper {
    padding: 1.5rem 2rem 1rem 2rem;
}

.cmt__rate {
    margin-bottom: 1.5rem;
}

.cmt__rate span {
    display: inline-block;
    color: #FFC107;
}

.cmt-content h2 {
    font-size: 20px;
    color: var(--icon-clor);
    margin-bottom: 1rem;
}

.cmt__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6F9FE;
    padding: 1.5rem 2rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cmt__author:before {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    background-size: 200% auto;
    background-color: #5192e1;
    transition: transform .4s ease-out;
}

.student__cmt:hover .cmt__author:before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.student__cmt:hover .cmt__author-name h3,
.student__cmt:hover .cmt__author-name p {
    color: #fff;
}

.cmt__author-avatar {
    margin-right: 1rem;
}

.cmt__author-avatar img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    object-fit: cover;
}

.cmt__author-name h3 {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
}

.cmt__author-name p {
    font-size: 14px;
    color: #8596AC;
}

.owl-nav {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: -40px;
}

.owl-prev span,
.owl-next span {
    font-size: 1.5rem;
    color: var(--sub-color);
    font-weight: 300;
    padding: .8rem;
    border: 1px solid rgb(0, 0, 0, .125);
    border-radius: 4px;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: -40px;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.owl-dots {
    display: block !important;
    text-align: center;
}

.owl-dots .owl-dot {
    width: 9px;
    height: 9px;
    margin: 5px;
    border-radius: 50%;
    background: #ccc !important;
}

.owl-dots .owl-dot:focus {
    outline: none;
}

.owl-dots .owl-dot.active {
    width: 12px;
    height: 12px;
    background: var(--icon-clor) !important;
}

@media (max-width:992px) {
    #student {
        padding: 3rem 1rem
    }

    .owl-prev,
    .owl-next {
        display: none;
    }
}

@media (max-width: 768px) {
    #student {
        padding: 3rem 1rem;
    }
}

@media (max-width: 576px) {
    .student__cmt {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
    }

    .cmt__content--wrapper {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .cmt__author {
        padding: 1.5rem 1rem;
    }

    .owl-prev,
    .owl-next {
        display: inline-block;
    }
}