    .body-content {
        padding: 3rem 0;
    }
    .container--wrapper {
        background-color: #fff;
    }

    .ja .animate-box {
        opacity: 0;
    }

    /* =============================
    ///////////==VIDEO==////////////
    ============================= */
    .v-video {
        height: 100vh;
        display: flex;
        color: #fff;
    }

    .video--container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

    .video--full-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video--full-screen video {
        min-height: 100%;
        min-width: 100%;
    }

    .video--overlay {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #225470;
        z-index: 1;
        opacity: .85;
    }

    .video__content {
        width: 40%;
        margin: auto;
        z-index: 2;
    }

    .video__content h1 {
        font-size: 50px !important;
    }

    .video__arrow--down {
        position: absolute;
        bottom: 100px;
        right: calc(50% - 10px);
        z-index: 3;
    }

    .video__arrow--down span {
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

    .video__arrow--down span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .video__arrow--down span:nth-child(3) {
        animation-delay: -0.4s;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }


    /* =============================
    ///////////==TRACK==////////////
    ============================= */
    #track,
    #time-line {
        background-color: #ecf0f1;
    }

    #track .body-content {
        padding: 6rem 0;
    }

    .section__title {
        font-size: 40px;
        font-weight: bold;
        color: #34465C;
        margin-bottom: 5rem;
        position: relative;
        padding-bottom: 1rem;
    }

    .section__title::before,
    .section__title::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 4px;
    }

    .section__title::before {
        background-color: #34465C;
        bottom: 0;
        left: 0;
    }

    .section__title::after {
        background-color: #c4c4c4;
        bottom: 0;
        left: 46px;
    }

    .track--container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .track__item {
        max-width: 370px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        transition: all .3s ease-out;
    }
    .track__item:hover {
        box-shadow: none;
    }

    .track__item:nth-child(2) {
        margin: 0 3rem;
    }

    .track__thubnail img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .track__info {
        padding: 2rem;
    }

    .track__name {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #34465C;
        margin-bottom: .5rem;
    }

    .track__description {
        display: block;
        font-size: 16px;
        color: #696969;
        margin-bottom: 2rem;
    }
    .track__btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .track__btn--read-more, .track__btn--register {
        flex: 0 0 48%;
    }
    .track__btn--read-more {
        display: inline-block;
        text-align: center;
        padding: 6px 12px;
        color: #34465C;
        background-color: #fff;
        border: 2px solid #34465C;
        outline: none;
        cursor: pointer;
        text-decoration: none !important;
        position: relative;
        z-index: 20;
        overflow: hidden;
    }
    .track__btn--register {
        display: inline-block;
        text-align: center;
        padding: 6px 12px;
        margin-right: .5rem;
        color: #fff;
        background-color: #34465C;
        border: 2px solid #34465C;
        outline: none;
        cursor: pointer;
        text-decoration: none !important;
        position: relative;
        z-index: 20;
        overflow: hidden;
        transition: all .3s ease-out;
    }

    .track__btn--register:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    .track__btn--register:hover {
        color: #fff;
    }
    .track__btn--read-more:hover {
        color: #fff;
        background-color: #34465C;
    }

    .track__btn--register:hover:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    /* =============================
    /////////==HIGHLIGH==//////////
    ============================= */
    #highlight {
        background-color: #fff;
        background-image: url("/resources/image/Wave-14.3s-1920px.svg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .highlight__item {
        display: flex;
        margin: 2rem 0;
        position: relative;
        
        
    }
     
    .item__image {
        flex: 0 0 30%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    .item__content .item__content__title {
        display: inline-block;
        position: relative;
        margin: 0 0 0 -43px;
        padding: 10px 20px 10px 20px;
        background-color: #2c98f0;
        color: #fff;
        line-height: 1.1em;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    .item__content .item__content__title:after {
        display: block;
        width: 10px;
        height: 0px;
        position: absolute;
        bottom: -10px;
        left: 0px;
        content: "";
        border-bottom: 10px solid transparent;
        border-right: 10px solid #2c98f0;
    }
    .item__content {
        flex: 0 0 70%;
        background-color: #fff;
        padding: 1rem 2rem;
        box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17); 
    }
    .item__content p > span {
        display: inline-block;
        margin-right: 1rem;
        color: #474F70;
        font-size: 1.2rem;
    }
    .item__content p {
        transition: transform .3s ease-out;
        display: flex;
        margin: .5rem 0 !important;
    }
    .item__content p:hover {
        transform: translateX(5px);
    }
    .item__content span.sub-title {
        display: block;
        margin-left: 4rem;
    }
    /* =============================
    /////////==PERSON==//////////
    ============================= */
    #person {
        position: relative;
    }

    #person .body-content {
        position: relative;
        padding: 10rem 0;
    }

    .image__decorate01 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .image__decorate02 {
        position: absolute;
        top: 0;
        right: 0;
    }

    .person--wrapper {
        display: flex;
    }

    .person__background,
    .person__info--wrapper {
        flex: 0 0 50%;
    }

    .person__background {
        position: relative;
    }

    .person__description p {
        color: #696969;
        display: flex;
        transition: transform .3s ease-out;
    }
    .person__description p:hover {
        transform: translateX(5px)
    }

    .person__description span {
        display: inline-block;
        color: #34465C;
        margin-right: 1rem;
    }

    /* =============================
    /////////==STUDY==//////////
    ============================= */
    #study .body-content {
        padding: 6rem 0;
    }

    .study--container {
        display: flex;
    }

    .study__info {
        flex: 0 0 30%;
    }

    .study__item h3 {
        color: #34465C;
        font-size: 24px !important;
        margin-top: 10px;
        margin-bottom: 2rem;
    }

    .study__item p {
        color: #696969;
        margin-bottom: 1rem;
        display: flex;
    }

    .study__item p span {
        color: #26A69A;
        margin-right: .5rem;
    }

    .study__item--hide {
        display: none;
    }

    .study__thumbnail {
        display: flex;
        flex: 0 0 70%;
    }

    .panel {
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        color: #fff;
        flex: 0.5;
        cursor: pointer;
        height: 50vh;
        position: relative;
        margin: 10px;
        transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
        overflow: hidden;
    }
    .panel:nth-child(1) {
        background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
    }
    .panel:nth-child(2) {
        background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
    }
    .panel:nth-child(3) {
        background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')
    }
    .panel h3 {
        font-size: 24px;
        opacity: 0;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        transition: opacity 0s ease-in 0s;
    }

    .panel.active {
        flex: 5;
        border-radius: 4px;
    }

    .panel.active h3 {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.4s;
    }
    .panel.active .panel__video {
        display: block;
    }
    .panel__video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }
    .panel__video iframe {
        width: 100%;
        height: 100%;
    }

    /* .panel.active .panel__video {
        z-index: -1;
    } */


    @media screen and (max-width: 480px) {
        .container {
            width: 100vw;
        }

        .panel:nth-of-type(4) {
            display: none;
        }

        .panel:nth-of-type(5) {
            display: none;
        }
    }

    /* =============================
    /////////==TIMELINE==//////////
    ============================= */
    .process-wrapper {
        margin: auto;
        max-width: 1080px;
    }

    #progress-bar-container {
        position: relative;
        width: 90%;
        margin: auto;
        height: 100px;
        margin-top: 65px;
    }

    #progress-bar-container ul {
        padding: 0;
        margin: 0;
        padding-top: 15px;
        z-index: 9999;
        position: absolute;
        width: 100%;
        margin-top: -40px
    }

    #progress-bar-container li:before {
        content: " ";
        display: block;
        margin: auto;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: solid 2px #aaa;
        transition: all ease 0.3s;

    }

    #progress-bar-container li.active:before,
    #progress-bar-container li:hover:before {
        border: solid 2px #fff;
        background: #FF6B6B;
    }

    #progress-bar-container li {
        list-style: none;
        float: left;
        width: 20%;
        text-align: center;
        color: #aaa;
        text-transform: uppercase;
        font-size: 11px;
        cursor: pointer;
        font-weight: 700;
        transition: all ease 0.2s;
        vertical-align: bottom;
        height: 60px;
        position: relative;
    }

    #progress-bar-container li .step-inner {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 14px;
    }

    #progress-bar-container li.active,
    #progress-bar-container li:hover {
        color: #34465C;
    }

    #progress-bar-container li:after {
        content: " ";
        display: block;
        width: 6px;
        height: 6px;
        background: #777;
        margin: auto;
        border: solid 7px #fff;
        border-radius: 50%;
        margin-top: 40px;
        box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
        transition: all ease 0.2s;

    }

    #progress-bar-container li:hover:after {
        background: #555;
    }

    #progress-bar-container li.active:after {
        background: #207893;
    }

    #progress-bar-container #line {
        width: 80%;
        margin: auto;
        background: #eee;
        height: 6px;
        position: absolute;
        left: 10%;
        top: 50px;
        z-index: 1;
        border-radius: 50px;
        transition: all ease 0.9s;
    }

    #progress-bar-container #line-progress {
        content: " ";
        width: 3%;
        height: 100%;
        background: #207893;
        background: linear-gradient(to right, #207893 0%, #2ea3b7 100%);
        position: absolute;
        z-index: 2;
        border-radius: 50px;
        transition: all ease 0.9s;
    }

    #progress-content-section {
        width: 90%;
        margin: auto;
        background: #fff;
        border-radius: 4px;
        border-top: 4px solid #34465C;
    }

    #progress-content-section .section-content {
        padding: 30px 40px;
        text-align: center;
    }

    #progress-content-section .section-content h2 {
        font-size: 17px;
        text-transform: uppercase;
        color: #34465C;
        text-align: left;

    }

    #progress-content-section .section-content p {
        font-size: 16px;
        line-height: 1.8em;
        color: #696969;
        text-align: left;
    }

    #progress-content-section .section-content {
        display: none;
        animation: FadeInUp 700ms ease 1;
        animation-fill-mode: forwards;
        transform: translateY(15px);
        opacity: 0;
    }

    #progress-content-section .section-content.active {
        display: block;
    }

    @keyframes FadeInUp {
        0% {
            transform: translateY(15px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }


    /* ///////----- TRACK -----/////// */
    .tl--container {
        overflow: auto;
    }
    .tl__foundation {
        background-color: #fff;
    }
    .tl__track {
        background-color: #fff;
        margin: 5rem 0;
    }
    .tl__foundation--title {
        display: inline-block;
        position: relative;
        margin: 0 0 0 -10px;
        padding: 10px 20px 10px 20px;
        background-color: #2c98f0;
        color: #fff;
        line-height: 1.1em;
        font-weight: 500;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    .tl__foundation--title::after {
        display: block;
        width: 10px;
        height: 0px;
        position: absolute;
        bottom: -10px;
        left: 0px;
        content: "";
        border-bottom: 10px solid transparent;
        border-right: 10px solid #2c98f0;
    }

    .wrapper {
        min-width: 600px;
        max-width: 900px;
        margin: 0 auto;
    }

    .tabs {
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    .tabs>li {
        transition-duration: .25s;
        display: table-cell;
        list-style: none;
        text-align: center;
        padding: 20px 20px 25px 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: #34465C;
    }

    .tabs>li:before {
        z-index: -1;
        position: absolute;
        content: "";
        width: 100%;
        height: 120%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition-duration: .25s;
        border-radius: 5px 5px 0 0;
    }

    .tabs>li:hover:before {
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
    }

    .tabs>li.active {
        color: #fff;
        background-color: #34465C;
    }

    .tabs>li.active:before {
        transition-duration: .5s;
        background-color: white;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .tab__content {
        background-color: white;
        position: relative;
        width: 100%;
        border-radius: 5px;
    }

    .tab__content>li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        list-style: none;
    }

    .tab__content>li .content__wrapper {
        text-align: center;
        border-radius: 5px;
        width: 100%;
        padding: 45px 40px 40px 40px;
        background-color: white;
    }


    /* ============== Time line ============ */
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .timeline h1,
    .timeline h2,
    .timeline h3,
    .timeline h4,
    .timeline h5,
    .timeline h6 {
        line-height: inherit;
    }

    /*----- TIMELINE ITEM -----*/
    .timeline-item {
        padding-left: 40px;
        position: relative;
    }

    .timeline-item:last-child {
        padding-bottom: 0;
    }

    /*----- TIMELINE INFO -----*/
    .timeline-info {
        font-size: 14px;
        margin: 0 0 .5em 0;
        color: #696969;
        white-space: nowrap;
        text-align: left;
    }

    /*----- TIMELINE MARKER -----*/
    .timeline-marker {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15px;
    }

    .timeline-marker:before {
        background: #FF6B6B;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    .timeline-marker:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px;
    }

    .timeline-item:last-child .timeline-marker:after {
        content: none;
    }

    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid #FF6B6B;
    }

    /*----- TIMELINE CONTENT -----*/
    .timeline-content {
        padding-bottom: 40px;
        text-align: left;
    }

    .timeline-title {
        margin-top: 12px !important;
        color: #34465C;
    }

    .timeline-content p:last-child {
        margin-bottom: 0;
        color: #696969;
    }

    /*----- TIMELINE PERIOD -----*/
    .period {
        padding: 0;
    }

    .period .timeline-info {
        display: none;
    }

    .period .timeline-marker:before {
        background: transparent;
        content: "";
        width: 15px;
        height: auto;
        border: none;
        border-radius: 0;
        top: 0;
        bottom: 30px;
        position: absolute;
        border-top: 3px solid #CCD5DB;
        border-bottom: 3px solid #CCD5DB;
    }

    .period .timeline-marker:after {
        content: "";
        height: 32px;
        top: auto;
    }

    .period .timeline-content {
        padding: 40px 0 70px;
    }

    .period .timeline-title {
        margin: 0;
    }



    /* =============================
    /////////==CONTACT==//////////
    ============================= */
    #contact {
        background-image: url("/resources/image/bg.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 80vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(70,70,70,.7);
    }

    #contact .body-content {
        position: relative;
        z-index: 20;
    }
     
    .contact--wrapper {
        display: flex;
    }
    
    .contact__box,
    .register__box {
        flex: 0 0 50%;
    }

    /* =======Contact form======== */
    .contact__info {
        padding: 0 5rem;
    }

    .contact__info h3 {
        color: #fff;
        font-size: 24px !important;
        margin-top: 10px;
    }

    .contact__row {
        border-top: 1px solid #34465C;
        padding: 1rem 0;
    }

    .contact__item {
        display: flex;
    }

    .contact__hotline-email {
        display: flex;
    }

    .contact__hotline-email .hotline,
    .contact__hotline-email .email {
        flex: 0 0 50%;
    }

    .contact__icon span {
        display: inline-block;
        font-size: 2rem;
        margin-right: 1.3rem;
        color: #fff;
    }

    .contact__content span {
        display: block;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .contact__content p {
        font-size: 16px;
        color: #fff;
    }

    .social-media__item {
        display: inline-block;
        margin-right: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 6px;
        line-height: 50px;
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;
    }
    /* .social-media__item.facebook {
        border: 1px solid #3B5998;
        color: #3B5998;
        transition: all .2s ease-out;
    } */
    .social-media__item.facebook {
        background-color: #3B5998;
        color: #fff;
    }
    /* .social-media__item.github {
        border: 1px solid #333;
        color: #333;
        transition: all .2s ease-out;
    } */
    .social-media__item.github {
        background-color: #333;
        color: #fff;
    }
    /* .social-media__item.gmail {
        border: 1px solid #DC4A38;
        color: #DC4A38;
        transition: all .2s ease-out;
    }*/
    .social-media__item.gmail {
        background-color: #DC4A38;
        color: #fff;
    }
    /* .social-media__item.youtube {
        border: 1px solid #ff0000;
        color: #ff0000;
        transition: all .2s ease-out;
    } */
    .social-media__item.youtube {
        background-color: #ff0000;
        color: #fff;
    }

    /* =======Register form======== */
    .register__form--wrapper h3 {
        color: #fff;
        font-size: 24px !important;
        margin-top: 10px;
    }

    .register__form--wrapper p {
        color: #fff;
        margin-bottom: 2rem;
    }

    .input__row {
        margin-bottom: 1rem;
    }

    .input__row input {
        border: 1px solid #ccc;
        height: 40px;
        line-height: 40px;
        padding: 0 1rem;
        transition: all .3s ease-out;
    }

    .input__row input:focus {
        border: 1px solid #34465C;
    }

    .input__name-phone {
        display: flex;
        justify-content: space-between;
    }

    .input__name-phone input {
        width: 49%;
    }

    .input__email input {
        width: 100%;
    }

    .input__note textarea {
        width: 100%;
        min-height: 200px;
        border: 1px solid #ccc;
        user-select: none;
        padding: 1rem;
    }

    .input__note textarea:focus {
        border: 1px solid #34465C;
    }

    .btn__register-form {
        display: inline-block;
        padding: 6px 12px;
        color: #fff;
        background-color: #34465C;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .btn__register-form {
        display: inline-block;
        padding: 6px 12px;
        color: #fff;
        background-color: #34465C;
        border: 2px solid #34465C;
        outline: none;
        cursor: pointer;
        text-decoration: none !important;
        position: relative;
        z-index: 20;
        overflow: hidden;
    }

    .btn__register-form:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    .btn__register-form:hover {
        color: #fff;
    }

    .btn__register-form:hover:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    /* =============================
    /////////==SERVICE==//////////
    ============================= */
    #services {
        background-color: #ecf0f1;
    }
    .services {
        background-color: #fff;
        margin-bottom: 30px;
        padding: 1.5em;
        -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
        -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
        -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
        -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
        box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
        border-bottom: 2px solid #2c98f0;
    }

    .services .icon2 {
        display: block;
        margin-bottom: 20px;
    }

    .services .icon2 i {
        font-size: 30px;
        color: #2c98f0;
    }

    .services h3 {
        font-family: "Quicksand", Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

    .services.color-2 {
        border-bottom: 2px solid #ec5453;
    }

    .services.color-2 .icon2 i {
        color: #ec5453;
    }

    .services.color-3 {
        border-bottom: 2px solid #f9bf3f;
    }

    .services.color-3 .icon2 i {
        color: #f9bf3f;
    }

    .services.color-4 {
        border-bottom: 2px solid #a84cb8;
    }

    .services.color-4 .icon2 i {
        color: #a84cb8;
    }

    .services.color-5 {
        border-bottom: 2px solid #2fa499;
    }

    .services.color-6 {
        border-bottom: 2px solid #4054b2;
    }

    .services {
        margin-bottom: 80px;
        position: relative;
        z-index: 0;
    }

    @media screen and (max-width: 768px) {
        .services {
            margin-bottom: 4em;
        }
    }

    .services .icon {
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        width: 100px;
        height: 50px;
        display: table;
        margin: 0 auto;
        background: #2c98f0;
    }

    .services .icon:before,
    .services .icon:after {
        position: absolute;
        left: 0;
        right: 0;
        content: '';
    }

    .services .icon:before {
        top: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 50px 30px 50px;
        border-color: transparent transparent #2c98f0 transparent;
    }

    .services .icon:after {
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 50px 0 50px;
        border-color: #2c98f0 transparent transparent transparent;
    }

    .services .icon i {
        font-size: 30px;
        color: #fff;
        z-index: 1;
        display: table-cell;
        vertical-align: middle;
    }

    .services .desc {
        margin-top: 60px;
    }

    .services .desc h3 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #34465C;
    }
    .services .desc p {
        color: #696969;
    }

    .services.color-2 .icon {
        background: #ec5453;
    }

    .services.color-2 .icon:before {
        border-color: transparent transparent #ec5453 transparent;
    }

    .services.color-2 .icon:after {
        border-color: #ec5453 transparent transparent transparent;
    }

    .services.color-3 .icon {
        background: #f9bf3f;
    }

    .services.color-3 .icon:before {
        border-color: transparent transparent #f9bf3f transparent;
    }

    .services.color-3 .icon:after {
        border-color: #f9bf3f transparent transparent transparent;
    }

    .services.color-4 .icon {
        background: #a84cb8;
    }

    .services.color-4 .icon:before {
        border-color: transparent transparent #a84cb8 transparent;
    }

    .services.color-4 .icon:after {
        border-color: #a84cb8 transparent transparent transparent;
    }

    .services.color-5 .icon {
        background: #2fa499;
    }

    .services.color-5 .icon:before {
        border-color: transparent transparent #2fa499 transparent;
    }

    .services.color-5 .icon:after {
        border-color: #2fa499 transparent transparent transparent;
    }

    .services.color-6 .icon {
        background: #4054b2;
    }

    .services.color-6 .icon:before {
        border-color: transparent transparent #4054b2 transparent;
    }

    .services.color-6 .icon:after {
        border-color: #4054b2 transparent transparent transparent;
    }
