* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    width: 100vh;
    height: 100vh;
}
h1 {
    color: beige;
    z-index: 2313;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;                    
    text-align: center;            
    animation: test 3s infinite ease;                                           
}
@keyframes test{
    0% {
        opacity: 0;
    }
    25% {
        opacity: .2;
    }
    50% {
        opacity: .4;
    }
    75% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
} 
p{
    color: beige;
    z-index: 2313;
    position: absolute;
    font-size: 40px;                    
    text-align: center;                  
} 
p.text1 {
    bottom: 250px;
    animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
    0% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}
p.text2 {
    bottom: 150px;
    animation: scroll-right 5s linear infinite; 
}
@keyframes scroll-right {
    0% { 
        transform: translateY(100%);
        opacity: .1;
    }
    100% { 
        transform: translateY(100%); 
        opacity: 1;
    }
}