@media only screen and (min-width: 0px) and (max-width: 479px) {
    .modal-dialog.newsletter-popup {
        width: 95%;
        height: inherit;
        background: #f82e56;
    }
    .basket:hover .top-cart-content {
        right: -21px;
    }
    .newsletter-popup h4.modal-title {
        font-size: 22px;
        margin-top: 20px;
    }
    .newsletter-popup .modal-body {
        padding-left: 15px;
        margin-left: 0%;
        padding-bottom: 20px;
    }
    .search_cart_block {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .jtv-new-title {
        margin-bottom: 2px;
        padding: 0 12px;
    }
    .jtv-new-title h2 {
        padding: 12px 0px 12px 0px;
        margin-bottom: 0;
        font-size: 18px;
    }
    .my-wishlist .buttons-set2 .btn-share, .my-wishlist .buttons-set2 .btn-add, .my-wishlist .buttons-set2 .btn-update {
        float: none;
        margin-left: 0;
        margin-bottom: 8px;
    }
    .page-title_multi h2 {
        font-size: 18px;
    }
    .multiple_addresses .title-buttons.pull-right {
        float: left !important;
    }
    #multiship-addresses-table {
        margin-top: auto;
    }
    .product-view .flexslider-thumb {
        padding: 0 50px;
    }
    .add-to-box .pull-left {
        width: 100%;
    }
    .product-tabs {
        height: auto;
        padding: 0px;
    }
    #productTabContent {
        padding: 10px 15px;
    }
    .email-addto-box {
        margin-top: 8px;
        margin-bottom: 4px;
    }
    .product-view .email-friend {
        margin: auto;
    }
    .product-view .social ul li a {
        width: 35px;
        height: 35px;
        line-height: 32px;
    }
    .product-shop .social ul li {
        margin: auto;
    }
    footer .coppyright {
        float: none;
        text-align: center;
    }
    .payment-accept img {
        margin-right: 6px;
    }
    .header-banner.mobile-show .our-features-box {
        display: block !important;
    }
    .offer-slider h1 {
        font-size: 34px;
        padding: 20px 15px;
    }
    .offer-slider p {
        padding: 0 2% 1%;
        font-size: 14px;
    }
    .bx-wrapper {
        margin: auto;
    }
    .bx-viewport {
        height: 340px !important;
        width: 95% !important;
    }
    .bxslider li {
        margin-right: 30px !important;
    }
    .parallax {
        height: 450px;
    }
    .bx-wrapper .bx-pager {
        padding-top: 8px;
    }
    .product-flexslider, .jtv-trending-products .product-flexslider, .jtv-top-products .product-flexslider {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .owl-pagination {
        top: -20px;
        right: auto;
        width: 100%;
    }
    .owl-theme .owl-controls .owl-page span {
        width: 14px;
        height: 14px;
    }
    .slider-items-products .owl-buttons .owl-prev {
        left: 14px;
    }
    .slider-items-products .owl-buttons .owl-next {
        right: -7px;
    }
    #toTop {
        width: 30px;
        height: 30px;
        line-height: 38px;
    }
    .header-banner .assetBlock {
        display: none;
    }
    .our-features-box ul {
        width: 100%;
        padding-bottom: 10px;
    }
    .our-features-box li {
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .top-cart-content .actions {
        padding: 0 8px 15px 8px;
    }
    .mini-products-list .product-image {
        margin-left: 8px;
    }
    .mini-cart .actions .btn-checkout {
        padding: 3px 22px;
    }
    .mini-cart .view-cart {
        padding: 3px 22px;
    }
    .col-xs-12.right_menu {
        padding-left: 4px;
    }
    .product-img-box.col-xs-12 {
    width:300px;
    }
    .product-next-prev {
        display: none;
    }
    .product-view .previews-list li {
        margin-right: 13px;
    }
    .product-view .product-shop .add-to-box .pull-right {
        float: left !important;
    }
    #cloud-zoom-big {
        display: none !important;
    }
    .category-description .slider-items-products .owl-buttons a {
        width: 25px;
        height: 25px;
    }
    .products-list .product-image {
        width: 100%;
    }
    .lang-curr {
        float: left;
        margin-left: 0;
    }
    .form-currency {
        margin-right: 2px;
    }
    .form-language {
        padding-left: 8px;
    }
    .logo {
        padding: 18px 0px;
        text-align: center;
    }
    .jtv-mob-toggle-wrap {
        display: block;
        position: absolute;
    }
    .mini-cart .basket a {
        margin: 0px;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: normal;
        min-width: 40px !important;
    }
    .top-cart-content {
        top: 30px;
    }
    ul#cart-sidebar {
        padding: 10px 0 0;
    }
    .top-cart-content li.item {
        width: 290px;
    }
    .offer-banner-section .row {
        padding-top: 30px;
    }
    .col {
        padding: 0px 0px 30px 0px;
        width: 100%
    }
    .col img {
        width: 100% !important;
    }
    .jtv-producttabs .jtv-pdt-container .jtv-pdt-nav .pdt-nav > li {
        padding: 0px 4px;
        font-size: 14px;
    }
    .jtv-producttabs ul.pdt-list li.item {
        width: 75%;
        margin: 0px auto 0px 13%;
    }
    .products-grid .item {
        margin: 10px 0px 8px 0;
    }
    .col-item .item-title {
        white-space: normal;
    }
    .col-item a.thumb span.quick-view {
        display: none;
    }
    .jtv-producttabs ul.pdt-list li.item a.thumb span.quick-view {
        display: none;
    }
    .newsletter {
        width: auto;
    }
    .newsletter-wrap input[type="text"] {
        width: 80% !important;
    }
    .newsletter-wrap button.subscribe {
        margin-left: 0px !important;
    }
    .social ul li {
        margin-right: 4px;
    }
    .payment-accept {
        float: none !important;
        padding-top: 0px;
    }
    .page-title h2 {
        font-size: 20px;
    }
    .cat-img-title.cat-box {
        font-size: 14px;
    }
    .category-description .slider-items-products .owl-buttons a {
        left: 5px;
        padding: 2px 3px 10px 0px;
        height: 25px;
        width: 25px;
    }
    .category-description .slider-items-products .owl-buttons .owl-prev a:before {
        font-size: 20px;
        padding: 0px 8px;
        line-height: 20px;
    }
    .category-description .slider-items-products .owl-buttons .owl-next a:before {
        font-size: 16px;
        padding: 0px 8px;
        line-height: 20px;
    }
    .category-description .small-tag {
        display: none;
    }
    .cat-img-title .cat-heading {
        font-size: 16px;
        margin: 10px 0px 5px;
        line-height: normal;
    }
    .cat-img-title.cat-bg p {
        margin: 0px;
        font-size: 11px;
    }
    .toolbar .sorter {
        width: 100%;
    }
    .toolbar .pager {
        float: right;
        margin: 15px 0px 0;
        width: 35%;
    }
    #sort-by {
        margin-top: 15px;
        float: left;
    }
    .pager .pages li a {
        padding: 2px 7px;
    }
    .pager .limiter label, .toolbar label {
        display: none;
    }
    .category-products ul.products-grid li.item {
        margin: 0% 0% 0% 0%;
        width: 100%;
    }
    .category-products ul.products-grid li.item a.thumb span.quick-view {
        display: none;
    }
    .products-list .product-shop {
        width: 100%;
        margin: 10px 0;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 62%;
    }
    .side-nav-categories {
        margin-bottom: 10px;
    }
    .block {
        margin: 0px 0px 25px 0px;
    }
    .category-products ul.products-grid li.item a.thumb span.quick-view {
        display: none;
    }
    .nav-tabs > li {
        width: 100%;
        text-align: center;
        margin-bottom: 1px;
        border-bottom: 1px #e5e5e5 solid;
    }
    .form-add-tags input.input-text {
        width: 100%;
        margin-bottom: 8px;
    }
    .more-views .owl-carousel .owl-item {
        width: 90px !important;
    }
    .product-shop .product-next-prev .product-prev {
        margin-top: 5px;
    }
    .product-shop .product-next-prev .product-prev {
        width: 30px;
        height: 28px;
        right: 49px;
        margin: auto;
        padding: inherit;
    }
    .product-shop .product-next-prev .product-next {
        width: 30px;
        height: 28px;
        right: 15px;
        margin: auto;
        padding: inherit;
    }
    .product-view .product-shop .add-to-box .btn-cart {
        margin-left: 0px;
        margin-top: 10px;
    }
    .product-view .product-name h1 {
        font-size: 20px;
    }
    select#billing-address-select {
        width: 100%;
    }
    .sidebar .block dl {
        padding: 0px 0px;
    }
    .group-select li .input-box input.input-text, .group-select li .input-box textarea {
        width: 100%;
    }
    .group-select li .input-box {
        width: 100%;
    }
    .group-select li input.input-text, .group-select li textarea {
        width: 100%;
    }
    .group-select li select {
        width: 100%;
    }
    #shopping-cart-table {
        margin-top: 0px;
    }
    label {
        font-weight: normal;
    }
    button.button span {
        font-weight: normal;
    }
    button.button.btn-proceed-checkout span {
        font-size: 16px;
    }
    .jtv-crosssel-pro h2 {
        font-size: 15px;
    }
    .cart-collaterals h3 {
        font-size: 14px;
    }
    .col2-set .col-1 {
        width: 100%;
    }
    .col2-set .col-1 h2 {
        font-size: 20px;
    }
    .col2-set .col-2 {
        width: 100%;
    }
    .col2-set .col-2 h2 {
        font-size: 20px;
    }
    .back-link {
        float: none;
        display: block;
        padding: 7px 0px;
    }
    .state_bar li {
        width: 100%;
        margin-top: 8px;
        margin-right: 0px;
    }
    .account-login .col2-set .col-1 {
        width: 100%;
        min-height: inherit;
        margin-bottom: 15px;
    }
    .account-login .col2-set .col-2 {
        width: 100%;
        padding: 0px;
    }
    .popup1 {
        display: none !important;
    }
    #overlay {
        display: none !important;
    }
    .footer-column {
        width: 100%;
    }
    .products-list .add-to-links span {
        display: none;
    }
    .products-list .add-to-links {
        margin-top: 5px;
        display: inline-block;
    }
    .review1, .review2 {
        width: 100%;
    }
    .box-reviews .review {
        border-left: 0 solid #dfdfdf;
        float: left;
        padding-left: 0;
        width: 95%;
    }
    .related-slider {
        display: inline-block;
        width: 100%;
    }
    .service-section .services {
        border-left: none;
    }
    footer .footer-inner {
        margin-bottom: 10px;
    }
    .cloud-zoom-big {
        left: 0 !important;
    }
    .jtv-bottom-banner-section .col-xs-12 img {
        margin-bottom: 15px;
    }
    .discount, .totals {
        min-height: inherit;
    }
    .jtv-bottom-banner-section .col-lg-3, .jtv-bottom-banner-section .col-md-3, .jtv-bottom-banner-section .col-sm-3 {
        padding: 0px 10px;
    }
    .header-container {
        height: auto;
    }
    .jtv-latest-blog .blog_inner {
        margin-top: 0px;
    }
    .brand-logo {
        margin: 20px 0px 20px 0px;
    }
    .blog_entry-title {
        font-size: 20px !important;
    }
    .jtv-rhs-header {
        padding-left: 15px;
    }
    .jtv-header-box {
        border-right: none;
        height: auto;
        padding-left: 0;
        background: #292c38;
    }
    .main-inner {
        padding-left: 15px;
    }
    .jtv-timer-box {
        text-align: center;
    }
    .footer-logo p {
        width: 62%;
    }
    .email-footer {
        margin-bottom: 18px;
    }
    .col2-left-layout .col-main {
        margin-top: 10px;
    }
    .jtv-latest-blog {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .jtv-trending-products {
        margin-top: 0px;
    }
    .sidebar-banner {
        margin-top: 18px;
        text-align: center;
    }
    .jtv-bottom-banner-section, .our-features-box .feature-box {
        margin-bottom: 10px;
    }
    .our-features-box {
        padding: 15px 0;
    }
    .cat-img-title.cat-box {
        width: 78%;
        margin-left: 15px;
    }
    .product-view {
        padding: 10px;
    }
    .product-view .product-shop {
        margin-top: 2px;
        padding: 10px;
    }
    .product-view .product-shop .add-to-links li {
        padding-bottom: 10px;
    }
    .jtv-related-products .owl-pagination, .jtv-upsell-products .owl-pagination {
        top: -20px;
    }
    .my-wishlist .table-responsive {
        border: none;
    }
    .col2-right-layout .main-inner {
        padding-right: 15px;
    }
    .jtv-dis-bar {
        padding: 15px;
    }
    .jtv-dis-bar h3 {
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    .jtv-dis-bar .jtv-social-icons {
        float: none;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    .blog-preview_item {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-inner {
        margin-top: 5px;
    }
    .support-policy-box .support-policy .content {
        margin-top: 8px;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .support-policy-box {
        padding: 15px 0px 5px;
        margin-bottom: 25px;
    }
    .column-right, .column-left {
        width: 100%;
    }
    .jtv-collection-area img {
        width: 100%;
    }
    .col-left-top-left, .col-left-top-right, .col-left-bottom-left, .col-left-bottom-right, .column-right {
        position: relative;
        width: 100%;
    }
    .col-left-top-left-text h3, .col-left-top-right-text h3, .col-left-bottom-left-text h3, .col-left-bottom-right-text h3, .col-right-text span {
        font-size: 24px;
        margin-top: 10px;
    }
    .col-left-top-left-text h5, .col-left-top-right-text h5, .col-left-bottom-left-text h5, .col-left-bottom-right-text h5, .col-right-text h5 {
        font-size: 14px;
    }
    #jtv-brand-logo-slider.product-flexslider {
        margin: 15px 0px;
    }
    .news-letter {
        padding: 25px 0px;
        margin-bottom: 15px;
    }
    .news-letter .heading h2 {
        font-size: 20px;
    }
    .news-letter .heading span {
        width: 95%;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .news-letter form input {
        height: 42px;
        width: 72%;
        padding: 0 10px;
    }
    .news-letter form button {
        height: 42px;
        font-size: 15px;
    }
    footer h4 {
        margin-top: 15px;
        padding-bottom: 2px;
    }
    .payment-icon {
        margin-top: 8px;
    }
    .col-right-text {
        left: -100px;
    }
    .breadcrumbs {
        padding: 10px 0px 0px 0px;
    }
    .main-container {
        margin-top: 10px;
    }
    .custom-slider .carousel-inner>.item>a>img, .custom-slider .carousel-inner>.item>img {
        display: inline-block;
    }
    .products-list .actions .add-to-links a.link-wishlist, .products-list .actions .add-to-links a.link-compare {
        margin: 4px 0px;
    }
    .products-list .product-shop .btn-cart {
        margin-bottom: 4px;
    }
    .shop-cart-table {
        width: 780px;
        margin-bottom: 0px;
    }
    .title-tab-product-category li {
        width: 100%;
        margin-bottom: 12px;
    }
    .title-tab-product-category .jtv-heading-style li + li {
        margin-left: 0px;
    }
    .cart-page-area .table-responsive {
        border: none;
        border-right: 1px #e5e5e5 solid;
    }
    .cart-page-area .product-name {
        width: 28%;
    }
    .product-thumbnail {
        width: 12%;
    }
    .product-price {
        width: 8%;
    }
    .product-quantity {
        width: 28%;
    }
    .product-subtotal {
        width: 12%;
    }
    .product-remove {
        width: 12%;
    }
    .content-tab-product-category {
        margin-top: 5px;
    }
    .update-continue-btn .button {
        width: 100%;
        margin-bottom: 12px;
    }
    .coupn-area, .cart-total-area {
        padding: 12px;
        margin-bottom: 15px;
    }
    .first-last-area {
        width: 100%;
    }
    .checkout-payment-area {
        padding: 15px;
    }
    .my-account {
        padding: 0 12px 20px;
    }
    .my-account .page-title {
        margin: 0 -12px;
        padding: 0 12px;
        text-align: left;
    }
    #my-orders-table {
        width: 500px;
        margin: 0px;
    }
    .box-account address {
        margin-bottom: 0px;
    }
    .single-product .item .item-inner .item-img .item-img-info {
        margin-bottom: 15px;
    }
    .upload-prodcut {
        padding: 25px 0;
    }
    .amazing-team-item {
        margin-bottom: 20px;
    }
    #order-tracking p {
        padding: 0px;
    }
    ol.progtrckr[data-progtrckr-steps="5"] li {
        width: 100%;
    }
    }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
    .modal-dialog.newsletter-popup {
        width: 95%;
        height: inherit;
        background: #f82e56;
    }
    .newsletter-popup h4.modal-title {
        font-size: 22px;
        margin-top: 20px;
    }
    .newsletter-popup .modal-body {
        padding-left: 15px;
        margin-left: 0%;
        padding-bottom: 20px;
    }
    .search_cart_block {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .brand-logo .jtv-new-title.center {
        height: 40px;
    }
    .logo {
        padding: 20px 10px;
        text-align: center;
    }
    .jtv-new-title {
        margin-bottom: 2px;
    }
    .jtv-new-title.center {
        text-align: center;
        height: auto;
        border-bottom: none;
        margin-top: 12px;
    }
    .jtv-new-title h2 {
        margin-bottom: 0;
    }
    .my-wishlist .buttons-set2 .btn-share, .my-wishlist .buttons-set2 .btn-add, .my-wishlist .buttons-set2 .btn-update {
        float: none;
        margin-left: 0;
        margin-bottom: 8px;
    }
    .page-title_multi h2 {
        font-size: 18px;
    }
    .multiple_addresses .title-buttons.pull-right {
        float: left !important;
    }
    #multiship-addresses-table {
        margin-top: auto;
    }
    .product-view .flexslider-thumb {
        padding: 0 50px;
    }
    .add-to-box .pull-left {
        width: 100%;
    }
    .product-tabs {
        height: auto;
        padding: 0px;
    }
    .email-addto-box {
        margin-top: 8px;
    }
    .product-view .product-shop .add-to-links li {
        padding: 4px 6px 0px 0px;
    }
    .product-view .email-friend {
        margin: auto;
    }
    .product-shop .social ul li {
        margin: auto;
    }
    footer .coppyright {
        float: none;
        text-align: center;
        margin-bottom: 5px;
    }
    .payment-accept img {
        margin-right: 6px;
    }
    .offer-slider h1 {
        font-size: 34px;
        padding: 20px 15px;
    }
    .offer-slider p {
        padding: 0 2% 1%;
        font-size: 14px;
    }
    .owl-pagination {
        top: -20px;
        right: auto;
        width: 100%;
    }
    .owl-theme .owl-controls .owl-page span {
        width: 14px;
        height: 14px;
    }
    .slider-items-products .owl-buttons .owl-prev {
        left: 14px;
    }
    .slider-items-products .owl-buttons .owl-next {
        right: -7px;
    }
    #toTop {
        width: 30px;
        height: 30px;
        line-height: 38px;
    }
    .top-cart-content .actions {
        padding: 0 8px 15px 8px;
    }
    .mini-products-list .product-image {
        margin-left: 8px;
    }
    .mini-cart .actions .btn-checkout {
        padding: 3px 22px;
    }
    .mini-cart .view-cart {
        padding: 3px 22px;
    }
    .col-xs-12.right_menu {
        padding-left: 4px;
    }
    .product-img-box.col-xs-12 {
    width:300px;
    }
    .product-next-prev {
        display: none;
    }
    .product-view .previews-list li {
        margin-right: 13px;
    }
    .product-view .product-shop .add-to-box .pull-right {
        float: left !important;
    }
    #cloud-zoom-big {
        display: none !important;
    }
    .category-description .slider-items-products .owl-buttons a {
        width: 25px;
        height: 25px;
    }
    .products-list .product-image {
        width: 35%;
    }
    .lang-curr {
        float: left;
        margin-left: 0;
    }
    .form-currency {
        margin-right: 2px;
    }
    .form-language {
        padding-left: 8px;
    }
    .jtv-mob-toggle-wrap {
        display: block;
        position: absolute;
    }
    .mini-cart .basket a {
        margin: 0px;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: normal;
        min-width: 40px !important;
        border: none;
    }
    .top-cart-content {
        top: 30px;
    }
    .service-section .services {
        padding: 20px 0px;
        width: 100%;
        border-bottom: 1px #e5e5e5 solid;
        border-left: 1px #fff solid;
        border-right: none;
    }
    .col img {
        width: 100% !important;
    }
    .jtv-producttabs .jtv-pdt-content ul.pdt-list li {
        width: 45%;
        margin-left: 10px;
        margin-right: 2%;
    }
    .newsletter {
        width: auto;
    }
    .newsletter-wrap input[type="text"] {
        width: 78% !important;
    }
    .newsletter-wrap button.subscribe {
        margin-left: 0px !important;
    }
    .payment-accept {
        float: none !important;
    }
    .footer-bottom .inner .bottom_links a {
        margin-left: 9px;
        float: left !important;
        font-size: 11px;
    }
    .breadcrumbs ul {
        padding: 0px 0px;
    }
    .page-title h2 {
        font-size: 24px;
    }
    .category-description .slider-items-products .owl-buttons a {
        left: 5px;
        padding: 2px 3px 10px 0px;
        height: 30px;
        width: 30px;
    }
    .category-description .slider-items-products .owl-buttons .owl-prev a:before {
        font-size: 20px;
        padding: 0px 10px;
        line-height: 24px;
    }
    .cat-img-title .cat-heading {
        margin: auto;
        font-size: 20px;
        margin-top: 8px;
        line-height: normal;
    }
    .cat-img-title p {
        font-size: 14px;
    }
    .category-description .slider-items-products .owl-buttons .owl-next a:before {
        font-size: 20px;
        padding: 0px 10px;
        line-height: 24px;
    }
    .toolbar .pager {
        float: right;
        margin: 0px 10px 0px 0px;
        width: 18%;
    }
    .pager .pages li a {
        padding: 2px 8px;
    }
    .category-products ul.products-grid li.item {
        width: 50%;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 80%;
    }
    .products-list .product-shop {
        width: 62%;
        margin: 10px 0;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 78%;
    }
    .more-views .owl-carousel .owl-item {
        width: 106px !important;
    }
    .more-views .slider-items-products a.flex-prev {
        margin: 65px 0px 4px -368px;
    }
    .more-views .slider-items-products a.flex-next {
        margin: 65px 0px 4px 30px;
    }
    .nav-tabs > li {
        width: 100%;
        text-align: center;
        margin-bottom: 1px;
        border-bottom: 1px #e5e5e5 solid;
    }
    .form-add-tags input.input-text, select, textarea {
        width: 60%;
    }
    .product-view .product-name h1 {
        font-size: 24px;
    }
    select#billing-address-select {
        width: 100%;
    }
    .sidebar .block dl {
        padding: 0px 10px;
    }
    select#billing-address-select {
        width: 100%;
    }
    .sidebar .block dl {
        padding: 0px 0px;
    }
    .group-select li .input-box input.input-text, .group-select li .input-box textarea {
        width: 100%;
    }
    .group-select li .input-box {
        width: 100%;
    }
    .group-select li input.input-text, .group-select li textarea {
        width: 100%;
    }
    .group-select li select {
        width: 100%;
    }
    #shopping-cart-table {
        margin-top: 0px;
    }
    label {
        font-weight: normal;
    }
    button.button span {
        font-weight: normal;
    }
    .col2-set .col-1 {
        width: 100%;
    }
    .col2-set .col-1 h2 {
        font-size: 20px;
    }
    .col2-set .col-2 {
        width: 100%;
    }
    .col2-set .col-2 h2 {
        font-size: 20px;
    }
    .back-link {
        float: none;
        display: block;
        padding: 7px 0px;
    }
    .state_bar li {
        width: 100%;
        margin-top: 8px;
        margin-right: 0px;
    }
    .account-login .col2-set .col-1 {
        width: 100%;
        padding: 0px;
        min-height: inherit;
        margin-bottom: 15px;
    }
    .account-login .col2-set .col-2 {
        width: 100%;
        padding: 0px;
    }
    .popup1 {
        display: none !important;
    }
    #overlay {
        display: none !important;
    }
    #cloud-zoom-big {
        display: none !important;
    }
    .jtv-bottom-banner-section .col-xs-12 {
        width: 50%;
    }
    .jtv-latest-blog .blog_inner {
        margin-bottom: 0px;
    }
    .brand-logo {
        margin: 10px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
    }
    .products-list .actions .add-to-links a.link-wishlist span, .products-list .actions .add-to-links a.link-compare span {
        display: none;
    }
    .header-container {
        height: auto;
    }
    .jtv-latest-blog .blog_inner {
        margin-top: 0px;
    }
    .brand-logo {
        margin: 20px 0px 20px 0px;
    }
    .blog_entry-title {
        font-size: 20px !important;
    }
    .jtv-rhs-header {
        padding-left: 15px;
    }
    .jtv-header-box {
        border-right: none;
        height: auto;
        padding-left: 0;
        background: #292c38;
    }
    .main-inner {
        padding-left: 15px;
    }
    .jtv-timer-box {
        text-align: center;
    }
    .brand-logo .owl-pagination {
        right: 0;
        top: -25px;
    }
    .footer-logo p {
        width: 62%;
        min-height: 50px;
    }
    .email-footer {
        margin-bottom: 18px;
    }
    .col2-left-layout .col-main {
        margin-top: 20px;
    }
    .jtv-trending-products {
        margin-top: 0px;
    }
    .jtv-hot-deal-product, .jtv-trending-productsducts {
        margin-top: 20px;
    }
    .sidebar-banner {
        margin-top: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    .jtv-bottom-banner-section, .our-features-box .feature-box {
        margin-bottom: 10px;
    }
    .our-features-box {
        padding: 15px 0;
    }
    .owl-item .item {
        margin: 15px 10px 0;
    }
    .jtv-trending-products .products-grid .item .item-inner .item-info .info-inner {
        padding-bottom: 2px;
    }
    .jtv-hot-deal-product, .jtv-trending-productsducts {
        margin: auto;
        width: 380px;
    }
    .jtv-bottom-banner-section .col-xs-12 img {
        margin-bottom: 15px;
    }
    .jtv-related-products .owl-pagination, .jtv-upsell-products .owl-pagination {
        top: -20px;
    }
    .jtv-upsell-products .products-grid .item .item-inner .item-info .info-inner {
        padding-bottom: 1px;
    }
    .products-grid .actions button.button.btn-cart {
        line-height: 12px;
    }
    .my-wishlist .table-responsive {
        border: none;
    }
    .col2-right-layout .main-inner {
        padding-right: 15px;
    }
    .jtv-dis-bar {
        padding: 15px;
        text-align: center;
    }
    .jtv-dis-bar h3 {
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        float: none;
    }
    .jtv-dis-bar .jtv-social-icons {
        float: none;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    .jtv-trending-products .product-flexslider, .jtv-top-products .product-flexslider {
        margin: 6px -10px 20px;
    }
    .jtv-top-products {
        width: 380px;
        margin: auto;
    }
    .support-policy-box .support-policy .content {
        margin-top: 8px;
        font-size: 12px;
        margin-bottom: 15px;
    }
    .support-policy-box {
        padding: 15px 0px 5px;
        width: 380px;
        margin: 25px auto;
    }
    .column-right, .column-left {
        width: 100%;
    }
    .jtv-collection-area img {
        width: 100%;
    }
    .col-left-top-left, .col-left-top-right, .col-left-bottom-left, .col-left-bottom-right, .column-right {
        position: relative;
        width: 100%;
    }
    .col-left-top-left-text h3, .col-left-top-right-text h3, .col-left-bottom-left-text h3, .col-left-bottom-right-text h3, .col-right-text span {
        font-size: 24px;
        margin-top: 10px;
    }
    .col-left-top-left-text h5, .col-left-top-right-text h5, .col-left-bottom-left-text h5, .col-left-bottom-right-text h5, .col-right-text h5 {
        font-size: 14px;
    }
    #jtv-brand-logo-slider.product-flexslider {
        margin: 15px 0px;
    }
    .news-letter {
        padding: 25px 0px;
        margin-bottom: 15px;
    }
    .news-letter .heading h2 {
        font-size: 20px;
    }
    .news-letter .heading span {
        width: 95%;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .news-letter form input {
        height: 42px;
        width: 72%;
        padding: 0 10px;
    }
    .news-letter form button {
        height: 42px;
        font-size: 15px;
    }
    footer h4 {
        margin-top: 15px;
        padding-bottom: 2px;
    }
    .payment-icon {
        margin-top: 8px;
    }
    .col-right-text {
        left: -100px;
    }
    .jtv-collection-area {
        width: 380px;
        margin: auto;
    }
    .breadcrumbs {
        padding: 10px 0px 0px 0px;
    }
    .main-container {
        margin-top: 10px;
    }
    .pager .limiter label, .toolbar label {
        display: none;
    }
    .custom-slider .carousel-inner>.item>a>img, .custom-slider .carousel-inner>.item>img {
        display: inline-block;
    }
    #carousel-example-generic {
        text-align: center;
    }
    .products-list .actions .add-to-links a.link-wishlist, .products-list .actions .add-to-links a.link-compare {
        margin: 4px 0px;
    }
    .products-list .product-shop .btn-cart {
        margin-bottom: 4px;
    }
    .product-view {
        padding: 10px;
    }
    .product-view .product-shop {
        margin-top: 15px;
    }
    .product-view .product-shop .add-to-box .btn-cart {
        margin-top: 10px;
        margin-left: 0px;
    }
    .shop-cart-table {
        width: 780px;
        margin-bottom: 0px;
    }
    .title-tab-product-category li {
        width: 100%;
        margin-bottom: 12px;
    }
    .title-tab-product-category .jtv-heading-style li + li {
        margin-left: 0px;
    }
    .cart-page-area .table-responsive {
        border: none;
        border-right: 1px #e5e5e5 solid;
    }
    .cart-page-area .product-name {
        width: 28%;
    }
    .product-thumbnail {
        width: 12%;
    }
    .product-price {
        width: 8%;
    }
    .product-quantity {
        width: 28%;
    }
    .product-subtotal {
        width: 12%;
    }
    .product-remove {
        width: 12%;
    }
    .content-tab-product-category {
        margin-top: 5px;
    }
    .first-last-area {
        width: 100%;
    }
    .coupn-area {
        margin-bottom: 25px;
    }
    #my-orders-table {
        width: 500px;
        margin: 0px;
    }
    .box-account address {
        margin-bottom: 0px;
    }
    .single-product .item .item-inner .item-img .item-img-info {
        margin-bottom: 15px;
    }
    .upload-prodcut {
        padding: 25px 0;
    }
    .amazing-team-item {
        margin-bottom: 20px;
    }
    #order-tracking p {
        padding: 0px;
    }
    ol.progtrckr[data-progtrckr-steps="5"] li {
        width: 49%;
    }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    .cross-sell-pro .jtv-new-title h2 {
        font-size: 14px;
    }
    .product-view .flexslider-thumb .flex-direction-nav {
        z-index: 0;
    }
    .product-view .product-next-prev .product-next {
        top: -46px;
    }
    .product-view .product-next-prev .product-prev {
        top: -46px;
    }
    .slider-items-products .owl-buttons .owl-prev {
        left: 14px;
    }
    .slider-items-products .owl-buttons .owl-next {
        right: -7px;
    }
    .payment-accept {
        padding: 0;
        margin-top: 10px;
    }
    .cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a:hover {
        padding: 10px 0;
    }
    .product-view .flexslider-thumb .flex-prev {
        left: -10px;
    }
    .product-view .flexslider-thumb .flex-next {
        right: -8px;
    }
    .product-view .flexslider-thumb {
        padding: 0 20px;
    }
    .email-addto-box {
        width: 100%;
        margin-left: 0;
    }
    .product-view .email-friend {
        margin: auto;
    }
    .product-view .product-shop .add-to-box .pull-right {
        float: left !important;
    }
    .products-list .add-to-links span {
        display: none;
    }
    .products-list .add-to-links {
        display: inline-block;
        padding-left: 0px;
    }
    #compare-items .btn-remove1 {
        top: 0px;
    }
    .our-features-box .feature-box .content {
        margin-top: 8p;
        text-align: left;
        margin-bottom: 10px;
    }
    .footer-inner .newsletter-wrap {
        width: 52%;
        display: inline-block;
    }
    .social h4 {
        margin: 6px 0 5px;
    }
    .footer-bottom .company-links li {
        float: left;
    }
    #sequence-theme .controls a {
        background-size: 50px;
    }
    .search-box {
        background: rgba(0, 0, 0, 0);
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        width: 200px;
    }
    #search {
        padding: 3px 6px;
        width: 160px;
    }
    .search-btn-bg {
        font-size: 13px;
        padding: 6px 10px;
        position: absolute;
    }
    .mini-cart .basket a.basket-icon {
        margin: 0px 8px;
    }
    .language-box select:focus, .language-box select, .currency-box select:focus, .currency-box select {
        margin-left: 12px;
    }
    .newsletter-wrap input[type="text"] {
        width: 360px;
    }
    .breadcrumbs ul {
        padding: 0px 0px;
    }
    .page-title h2 {
        font-size: 24px;
    }
    .category-description .slider-items-products .owl-buttons a {
        left: 5px;
        padding: 2px 3px 10px 0px;
        height: 30px;
        width: 30px;
    }
    .category-description .slider-items-products .owl-buttons .owl-prev a:before {
        font-size: 20px;
        padding: 0px 10px;
        line-height: 24px;
    }
    .category-description .slider-items-products .owl-buttons .owl-next a:before {
        font-size: 20px;
        padding: 0px 10px;
        line-height: 24px;
    }
    .toolbar .pager {
        width: 30%;
    }
    .sidebar ol, .sidebar ul li ul {
        padding: 0px !important;
    }
    .box-category > ul > li ul > li > a {
        padding: 6px 10px !important;
    }
    .col-left .block-cart ul li.item {
        display: inline-block;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 100%;
        margin-top: 10px;
    }
    .side-nav-categories {
        margin-bottom: 10px;
    }
    ol#compare-items li a.product-name {
        width: 79%;
    }
    .btn, .button-inverse, .button-vote, .sidebar .btn, .dropdown .dropdown-menu .button, .buttons-set .back-link a, .scrolltop, .button-tabs li a {
        margin-bottom: 5px;
    }
    #recently-viewed-items .product-name {
        width: 90%;
    }
    .block-banner img {
        width: 100%;
    }
    .block .block-content, .block.block-layered-nav .block-content {
        padding: 5px 5px 5px 5px;
    }
    .block.product-price-range .block-content {
        padding: 28px 6px 10px;
    }
    .block {
        margin: 0px 0px 25px 0px;
    }
    .products-list .product-shop {
        width: 51%;
        margin-left: 15px;
    }
    .products-list .product-image {
        width: 45%;
    }
    .products-list .item a img {
        width: 100%;
    }
    .product-view .product-shop .add-to-links li {
        padding: 0px 8px 0px 0px;
    }
    .add-to-links span {
        font-size: 11px;
        margin-left: 5px;
    }
    .social ul li {
        margin-right: 4px;
    }
    .product-view .product-shop .add-to-links .link-compare:before {
        margin-right: 5px;
    }
    .product-img-box img {
        width: 100%;
    }
    .product-view .product-name h1 {
        font-size: 23px;
    }
    .product-view .product-name h1 {
        font-size: 23px;
        font-weight: 600;
    }
    select#billing-address-select {
        width: 100%;
    }
    .sidebar .block dl {
        padding: 0px 5px;
    }
    #shopping-cart-table {
        margin-top: 0px;
    }
    label {
        font-weight: normal;
    }
    button.button span {
        font-weight: normal;
    }
    button.button.btn-proceed-checkout span {
        font-size: 12px;
    }
    .cart-collaterals h3 {
        font-size: 12px;
    }
    button.button.btn-proceed-checkout:before {
        font-size: 13px;
    }
    .cart-collaterals .col-sm-4 {
        padding-right: 0;
    }
    .cart-collaterals .col-sm-4 .totals {
        margin-right: 15px;
    }
    .cart-collaterals h3 {
        padding: 10px;
    }
    .col2-set .col-1 h2 {
        font-size: 20px;
    }
    .col2-set .col-2 h2 {
        font-size: 20px;
    }
    .block-account .block-content li a {
        padding: 0 0 0 2px;
        display: inline-block;
    }
    .sidebar-banner img {
        width: 100%;
    }
    .box-reviews .review {
        width: 80%;
    }
    .mega-menu-title h3 {
        font-size: 14px;
    }
    .lang-curr {
        float: right;
        margin: 0 8px;
    }
    .timer-grid .box-time-date {
        margin-bottom: 10px;
    }
    .timer-grid .box-time-date span {
        display: block;
        font-size: 16px;
        color: #fff;
        margin-top: 10px;
    }
    .jtv-timer-box {
        text-align: center;
    }
    .our-features-box .feature-box {
        margin-bottom: 15px
    }
    .our-features-box {
        padding: 22px 0 5px;
    }
    .newsletter-wrap h4 {
        margin-bottom: 10px;
    }
    .footer-column-last {
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .footer-logo p {
        float: none;
        width: 100%;
        padding-bottom: 0px;
    }
    .block .block-title, .side-nav-categories .block-title {
        padding: 8px 5px;
    }
    .box-category {
        padding: 5px;
    }
    .product-view .product-shop .add-to-box .btn-cart {
        margin-left: 0px;
        margin-top: 10px;
    }
    .modal-dialog.newsletter-popup {
        width: 740px;
        height: inherit;
        margin-top: 8%;
    }
    .form-currency {
        margin-right: 8px;
    }
    .logo {
        padding: 24px 12px;
    }
    .search_cart_block {
        padding-top: 16px;
    }
    .top_section {
        margin-top: 15px;
    }
    .newsletter-popup .modal-body {
        padding-bottom: 35px;
    }
    .jtv-dis-bar {
        text-align: center;
    }
    .jtv-dis-bar h3 {
        text-align: center;
        float: none;
    }
    .jtv-dis-bar .jtv-social-icons {
        float: none;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
    .mega-menu-category > .nav > li > a {
        padding: 11px 15px 8px;
    }
    .mega-menu-category > .nav > li > a:after {
        right: 10px;
        top: 4px;
    }
    .mega-menu-title {
        padding: 17px 15px 16px;
    }
    .jtv-hot-deal-product .products-grid .item {
        margin-bottom: 20px;
    }
    .col-left-top-left-text h3, .col-left-top-right-text h3, .col-left-bottom-left-text h3, .col-left-bottom-right-text h3, .col-right-text span {
        font-size: 22px;
        margin-top: 10px;
    }
    .col-left-top-left-text h5, .col-left-top-right-text h5, .col-left-bottom-left-text h5, .col-left-bottom-right-text h5, .col-right-text h5 {
        font-size: 12px;
    }
    .col-right-text {
        left: -95px;
    }
    footer ul {
        min-height: 240px;
    }
    .social ul {
        min-height: inherit;
    }
    .post-meta li {
        margin-bottom: 6px;
    }
    .news-letter .heading span {
        width: 72%;
    }
    .cat-img-title .cat-heading {
        font-size: 28px;
        margin-top: 10px;
        line-height: 32px;
    }
    .block-cart .block-content ul li .product-details {
        float: left;
        width: 100%;
        margin-top: 5px;
    }
    .block.block-cart ul li.item {
        display: inline-block;
    }
    .button.button-clear {
        margin-top: 8px;
    }
    #carousel-example-generic .carousel-caption h3 a {
        font-size: 18px;
    }
    #carousel-example-generic p {
        font-size: 11px;
    }
    #carousel-example-generic .carousel-caption {
        padding: 0px 8px 8px;
    }
    #carousel-example-generic .carousel-caption h3 {
        margin-top: 10px;
    }
    .col2-left-layout .products-list .actions .add-to-links a.link-wishlist, .col2-left-layout .products-list .actions .add-to-links a.link-compare {
        margin: 4px 0px;
    }
    .products-list .product-shop .btn-cart {
        margin-bottom: 4px;
    }
    .col2-left-layout .product-next-prev {
        float: right;
        margin-top: 0;
    }
    .col2-left-layout .product-view .product-name h1 {
        font-size: 20px;
        padding-bottom: 0px;
    }
    .col2-left-layout .product-view .product-shop .price-box {
        padding: 6px 0px;
    }
    .col2-left-layout .product-view .product-shop .social a {
        line-height: 32px;
        width: 35px;
        height: 35px;
    }
    .cart-page-area .product-name {
        width: 28%;
    }
    .product-thumbnail {
        width: 12%;
    }
    .product-price {
        width: 8%;
    }
    .product-quantity {
        width: 30%;
    }
    .product-subtotal {
        width: 12%;
    }
    .product-remove {
        width: 10%;
    }
    .upload-prodcut {
        padding: 68px 0;
    }
    .toplinks .links li a {
        padding: 0px 12px 0px 0px;
    }
    #order-tracking p {
        padding: 0px 5%;
    }
    ol.progtrckr[data-progtrckr-steps="5"] li {
        width: 33%;
    }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    .state_bar li {
        width: 18.8%;
        font-size: 12px;
    }
    .cross-sell-pro .jtv-new-title h2 {
        font-size: 20px;
    }
    .product-view .flexslider-thumb .flex-direction-nav {
        z-index: 0;
    }
    .product-view .product-next-prev .product-next {
        top: -48px;
    }
    .product-view .product-next-prev .product-prev {
        top: -48px;
    }
    .payment-accept {
        width: 100%;
        display: inline-block;
        margin: 20px auto 0;
        padding: 0px;
    }
    .product-view .flexslider-thumb .flex-prev {
        left: -10px;
    }
    .product-view .flexslider-thumb .flex-next {
        right: -8px;
    }
    .product-view .flexslider-thumb {
        padding: 0 22px;
    }
    .product-view .email-friend {
        margin: auto;
    }
    .product-view .product-shop .add-to-box .pull-right {
        float: left !important;
        margin-top: 10px;
    }
    .email-addto-box {
        width: 100%;
        margin-left: 0;
    }
    .product-additional .block-product-additional img {
        width: 100%;
    }
    .footer-inner .newsletter-wrap {
        width: 52%;
        display: inline-block;
    }
    .social h4 {
        margin: 0px 0 5px;
    }
    .search-box {
        width: 345px;
    }
    #search {
        padding: 3px 6px;
        width: 320px;
    }
    .mini-cart .basket a {
        min-width: 100% !important;
    }
    .jtv-pdt-content a.link-compare {
        padding: 6px 8px;
    }
    .breadcrumbs ul {
        padding: 0px 0px;
    }
    .page-title h2 {
        font-size: 24px;
    }
    .cat-img-title.cat-box {
        width: 60%;
        left: 6%;
        top: 5%;
    }
    .category-description .slider-items-products .owl-buttons a {
        left: 5px;
        padding: 2px 3px 10px 0px;
        height: 40px;
        width: 40px;
    }
    .category-description .slider-items-products .owl-buttons .owl-prev a:before {
        font-size: 20px;
        padding: 0px 13px;
        line-height: 34px;
    }
    .category-description .slider-items-products .owl-buttons .owl-next a:before {
        font-size: 20px;
        padding: 0px 13px;
        line-height: 34px;
    }
    .toolbar .pager {
        width: 30%;
    }
    .box-category > ul > li ul > li > a {
        padding: 6px 10px !important;
    }
    .col-left .block-cart ul li.item {
        display: inline-block;
    }
    .col-left .block-cart .block-content ul li .product-details {
        width: 55%;
    }
    .side-nav-categories {
        margin-bottom: 20px;
    }
    ol#compare-items li a.product-name {
        width: 75%;
    }
    #recently-viewed-items .product-name {
        width: 90%;
    }
    .block-banner img {
        width: 100%;
    }
    .block {
        margin: 0px 0px 25px 0px;
    }
    .products-list .product-shop {
        width: 66%;
        margin-left: 15px;
    }
    .products-list .product-image {
        width: 30%;
    }
    .products-list .item a img {
        width: 100%;
    }
    .col2-set .col-1 h2 {
        font-size: 20px;
    }
    .col2-set .col-2 h2 {
        font-size: 20px;
    }
    .block-progress .block-content {
        padding: 0px 10px;
    }
    .sidebar-banner img {
        width: 100%;
    }
    .mega-menu-category > .nav > li > a {
        padding: 10px 15px 11px;
    }
    .timer-grid .box-time-date {
        font-size: 11px;
        min-width: 50px;
        min-height: 60px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
    .timer-grid .box-time-date span {
        display: block;
        font-size: 16px;
        color: #fff;
        margin-top: 10px;
    }
    .jtv-timer-box {
        text-align: center;
    }
    .footer-column-last {
        margin-top: 20px;
    }
    .our-features-box .feature-box {
        margin-bottom: 15px;
    }
    .our-features-box {
        padding: 20px 0 10px;
    }
    .search_cart_block {
        padding-top: 24px;
    }
    .top_section {
        margin-top: 24px;
    }
    .mega-menu-category > .nav > li > a:after {
        top: 5px;
    }
    .products-list .actions .add-to-links a.link-wishlist, .products-list .actions .add-to-links a.link-compare {
        padding: 8px;
        margin-right: 5px;
        letter-spacing: 0.3px;
    }
    .col2-left-layout .product-view .product-shop .add-to-box .btn-cart {
        margin-top: 10px;
        margin-left: 0px;
    }
    .col2-left-layout .product-view .product-shop .add-to-links li {
        padding: 0px 12px 5px 0px;
    }
    .col2-left-layout .social ul li {
        margin-right: 4px;
        margin-bottom: 2px;
    }
    .cart-page-area .product-name {
        width: 28%;
    }
    .product-quantity {
        width: 25%;
    }
    button.button.btn-proceed-checkout span {
        font-size: 15px;
    }
    .upload-prodcut {
        padding: 50px 0;
    }
    .toplinks .links li a {
        padding: 0px 10px 0px 0px;
    }
    }