
/* ****************************************** */
.main-container {
    margin-top: 30px;
}
.col-main .category-products .products-grid {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}
.block {
	margin: 0 0 25px;
	border: 1px solid #e5e5e5;
	background: #fff;
}
.block .block-title {
	border-bottom: 1px solid #e5e5e5;
	color: #000;
	letter-spacing: 1px;
	line-height: normal;
	margin: 0;
	padding: 15px 15px 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.block .block-title h3 {
	margin: auto;
	font-size: 16px;
	font-weight: 600;
}
.block .block-title a {
	text-decoration: none;
}
.block .block-content .item {
	padding: 5px 0;
}
.block .btn-remove, .block .btn-edit {
	float: right;
	margin-top: 6px
}
.sidebar .block .access .btn-remove {
	float: right;
	margin-top: -38px
}
.block .actions {
	text-align: left;
	padding: 8px 0;
}
.block .actions a {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.block .empty {
	color: #666666;
}

/*18.a product price range*/

.block.product-price-range .block-content {
	padding: 28px 15px 10px
}
.product-price-range .amount-range-price {
	padding: 15px 0
}
.product-price-range .slider-range-price {
	height: 7px;
	background: #999;
	border: none;
	border-radius: 2px
}
.product-price-range .slider-range-price .ui-widget-header {
	background: #666;
	height: 7px
}
.product-price-range .slider-range-price .ui-slider-handle {
	border: 1px #f82e56 solid;
	border-radius: 3px;
	background: #f82e56;
	cursor: pointer
}
.check-box-list {
	overflow: hidden
}
.check-box-list li {
	line-height: 24px
}
.check-box-list label {
	display: inline-block;
	cursor: pointer;
	line-height: 12px;
	font-weight: 600;
}
.size ul {
	margin-bottom: 6px !important;
	display: inline-block;
}
.size li {
	border: 0 none;
	float: left;
	margin-right: 5px;
}
.size li a:hover {
	border-color: #f82e56;
	background: #f82e56;
	color: #fff;
}
.size li a {
	border: 1px solid #e8e6e2;
	padding: 3px 10px;
	color: #666;
	float: left;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0px;
}
.check-box-list label span.count {
	color: #a4a4a4;
	margin-left: 2px
}
.sidebar-left {
	margin-left: 0 !important;
}
.bv3 .sidebar-right, .bv3 .sidebar-left {
	padding-left: 15px;
}
.sidebar ol, .sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar .block-venedor-ads .block-content li {
	padding: 0;
}
.sidebar .block dt {
	font-size: 14px;
	font-weight: 600;
	color: #333;
	padding: 10px 0;
	padding-bottom: 0px!important
}
.sidebar .block dd {
	border-bottom: 0 solid #CCCCCC;
	margin: 0;
	padding: 0 5px;
	margin-bottom: 15px
}
.block-layered-nav dd.last {
	margin-bottom: 0px;
}
.sidebar address {
	margin: 0;
	padding: 0;
	color: #333;
	text-align: left;
	border-bottom: none;
	line-height: 24px;
}
.sidebar {
	font-size: 14px;
}
.sidebar .block-layered-nav .price {
	font-size: 13px;
	font-weight: normal;
}
.block-layered-nav .block-subtitle, .block-layered-nav dt {
	color: #333;
	font-weight: 600;
	font-size: 13px;
}
.block-layered-nav .currently ol {
	border: 1px solid #ececec;
	background-color: #f4f4f4;
	border-radius: 3px;
}
.sidebar a, .sidebar .block-layered-nav .price .sub {
	color: #222;
	font-size: 14px;
}
.sidebar .block-layered-nav .price {
	color: #666;
}
.sidebar .link-cart, .sidebar .link-reorder, .block .actions a {
	color: #CA0000;
	font-size: 14px;
}
.sidebar .link-compare, .sidebar .link-wishlist {
	color: #aaa;
	font-size: 14px;
}
.block-tags .actions a.view-all {
	text-transform: uppercase;
	color: #333;
	margin-bottom: auto;
	font-size: 14px;
}
.block-tags .actions a.view-all:hover {
	color: #333;
}
.sidebar .link-cart:hover, .sidebar .link-wishlist:hover, .sidebar .link-reorder:hover, .sidebar .link-compare:hover, .sidebar .link-cart:focus, .sidebar .link-wishlist:focus, .sidebar .link-reorder:focus, .sidebar .link-compare:focus, .block .actions a:hover, .block .actions a:focus {
	color: #333;
}
.sidebar .block dl {
	border-bottom: 0px solid #ccc;
	margin: 0;
}
.block .block-content .price {
	font-size: 14px;
	color: #000;
}
/* 18b. Block: Account */
.block-account .block-content {
	padding-top: 0 !important;
}
.block-account .block-content ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
.block-account .block-content li {
	padding: 10px 0px;
	border-top: 1px #fff solid;
	border-bottom: 1px #ddd solid;
}
.block-account .block-content li:last-child {
	border: none;
	padding-bottom: 0px;
}
.sidebar .block-content li.last {
	border-bottom: none;
}
.block-account .block-content li a {
	cursor: pointer;
}
.block-account .block-content li a:hover {
	cursor: pointer;
	padding: 0 12px;
	color: #000;
}
.sidebar .block-content li.current {
	color: #333;
	font-weight: 600;
}

/*18d.  Block: Layered Navigation */
.block-layered-nav {
	background-color: #FFFFFF;
}
.block.block-layered-nav .block-content {
	padding: 15px 15px 0px
}
.block.block-layered-nav .block-content li {
	margin-bottom: 5px;
}
.block-layered-nav .block-content {
	padding: 0;
}
.block-layered-nav dt {
	overflow: hidden;
	padding: 0px 0 10px !important;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
}
.block-layered-nav dd {
	margin: 0;
	padding: 0;
}
.block-layered-nav dd ol {
	position: relative;
}
.bag-material {
	margin-left: -5px !important;
	margin-top: 5px !important;
}
.block-layered-nav dd ol li:before {
	content: '\f105';
	font-family: FontAwesome;
	font-size: 14px;
	padding-right: 4px;
	color: #444;
}
.block-layered-nav dd ol.bag-material li:before {
	content: '';
	padding-right: 0px;
}
.block-layered-nav dd ol.bag-material input[type=checkbox] {
	margin: 8px 2px 0 -10px;
	margin-top: 1px\9;
	line-height: normal;
	vertical-align: -2px;
}
.block-layered-nav .btn-remove {
	float: right;
}
.block-list .price {
	color: inherit;
	font-size: 14px;
}

/* 24. Toolbar
****************************************** */

.toolbar {
	clear: both;
	margin-top: 0px;
	padding: 20px 0 0 0px;
	display: inline-block;
	width: 100%;
}
.toolbar.bottom {
	padding: 5px 0 20px 0px;
}
.toolbar .sorter {
	float: left;
}
.toolbar-bottom {
	margin-top: 0;
}
.toolbar .pager .pages ol {
	float: none;
}
.toolbar .pagination>li>a, .toolbar .pagination>li>span {
	color: #333;
}
/* Pager */
.pager {
	margin: 0;
	text-align: center;
	padding: 0;
}
.pager .amount {
	float: left;
}
.pager .limiter label {
	float: left;
	font-size: 14px;
	padding: 6px 0;
	margin-right: 10px;
	display: inline;
}
.pager .pages {
	margin: 0px;
}
.pages .pagination {
	margin: auto;
}
.pager .pages li {
	display: inline-block;
}
.pager .pages li a {
	box-shadow: none;
	border: 1px solid #eaeaea;
	padding: 5px 10px;
	border-radius: 0px;
	color: #333;
	background: #f8f8f8
}
.pager .pages li a:hover {
	border: 1px solid #eaeaea;
	color: #fff;
	background: #f82e56;
}
.pages .pagination > .active > a, .pages .pagination > .active > span, .pages .pagination > .active > a:hover, .pages .pagination > .active > span:hover, .pages .pagination > .active > a:focus, .pages .pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #f82e56;
	border-color: #eaeaea;
}
/* Sorter */
.sorter {
	padding: 0;
	margin: 0;
}
.sorter .actions {
	float: left;
}
.sorter .view-mode {
	float: left;
	margin-top: 6px;
	margin-right: 20px;
	margin-left: 0px;
}
.sorter .sort-by {
	float: left;
	margin-top: 6px;
}
#sort-by .button-asc {
	background-color: #f8f8f8;
	box-shadow: none;
	float: right;
	height: 33px;
	line-height: 33px;
	margin-left: 5px;
	text-align: center;
	width: 35px;
	border: 1px #eaeaea solid
}
#sort-by .button-asc:hover {
	background: #f82e56;
	color: #fff
}
.top_arrow:before {
	content: '\f106';
	font-family: FontAwesome;
	font-size: 16px;
}
#sort-by .button-desc {
	background-color: #f8f8f8;
	box-shadow: none;
	float: right;
	height: 30px;
	line-height: 28px;
	margin-left: 5px;
	text-align: center;
	width: 30px;
}
#sort-by {
	float: right;
	font-size: 14px;
}
#sort-by ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}
#sort-by a:link, #sort-by a:visited {
	color: #333;
	text-decoration: none;
}
#sort-by li {
	background: #f8f8f8;
	cursor: pointer;
	margin: 0 auto;
	outline: medium none;
	padding: 5px 15px;
	position: relative;
	width: 100px;
	float: left;
	color: #333;
	border: 1px solid #eaeaea;
}
#sort-by li li {
	width: 100px;
	margin-top: 0px;
	border-top: none;
	border-right: none;
	border-left: none;
}
#sort-by li li a:hover {
	color: #f82e56
}
#sort-by li:hover {
	background-color: #fff;
}
#sort-by li li:hover {
	background-color: #fff;
	color: #f82e56;
}
#sort-by ul ul {
	position: absolute;
	visibility: hidden;
	left: -1px;
	top: 27px;
	background: #F8F8F8;
	z-index: 10000;
	border-top: none;
	border: 1px #f5f5f5 solid;
}
#sort-by ul ul ul {
	position: absolute;
	left: 100%;
	top: -2px;
	border: solid 1px transparent;
}
#sort-by li:hover > ul {
	visibility: visible;
}
.right-arrow {
	float: right;
}
.right-arrow:after {
	content: "\f107";
	font-family: 'FontAwesome';
	color: #666;
	font-size: 14px;
}
#limiter {
	float: right;
	font-size: 14px;
	margin-top: 0px;
}
#limiter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}
#limiter a:link, #limiter a:visited {
	text-decoration: none;
	background-color: #f8f8f8;
	border: 0px solid #ddd;
	border-radius: 0px;
	display: inline-block;
	padding: 0px;
}
#limiter li {
	background: #f8f8f8;
	cursor: pointer;
	margin: 0 auto;
	outline: medium none;
	padding: 5px 0px 5px 10px;
	position: relative;
	width: 50px;
	float: left;
	color: #333;
	text-align: left;
	border: 1px solid #eaeaea;
}
#limiter .right-arrow {
	float: right;
	margin-left: 6px;
}
#limiter li li {
	width: 50px;
	border-top: 0px #f5f5f5 solid;
}
#limiter li li a:hover {
	color: #f82e56;
}
#limiter li:hover {
	color: #fff;
}
#limiter ul ul {
	position: absolute;
	visibility: hidden;
	left: -1px;
	top: 27px;
	background: #fff;
	z-index: 10000;
	color: #000;
	border-top: none;
	border: 0px #f5f5f5 solid;
}
#limiter ul ul ul {
	position: absolute;
	left: 100%;
	top: -2px;
	border: solid 1px transparent;
}
#limiter li:hover > ul {
	visibility: visible;
}
.toolbar .pager {
	text-align: left;
	margin: 0 10px -4px 0;
	padding: 0;
	float: right;
	width: 45%;
}
.pager .amount, .sorter .amount {
	padding-left: 10px;
	margin-top: 4px;
	display: inline-block;
}
.toolbar .pager .limiter {
	margin-top: 2px;
	float: left;
}
.toolbar-bottom .pager .limiter {
	position: static;
}
.pager .button {
	padding: 4px 5px;
	background-color: #fff;
}
.pager .button :hover {
	padding: 4px 5px;
	background-color: #fff;
}
.toolbar .actions {
	margin-right: 30px;
}
.pager .limiter label, .toolbar label {
	display: inline;
	float: left;
	margin-right: 10px;
	padding: 5px 0;
	font-size: 14px;
	font-weight: normal;
}
.toolbar .sorter .sort-by {
	margin-right: 30px;
}
.pager .amount {
	margin-right: 20px;
}

/* 25. Products List Page
****************************************** */
.products-grid .item {
    margin-bottom: 20px;
}
.category-title {
	border-bottom: 1px #e5e5e5 solid;
	margin: 0 0 10px;
}
.category-image {
	display: block;
	margin: 0 auto;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.category-products {
	padding-bottom: 0px;
	display: inline-block;
	width: 100%;
}
/* View Type: List */
.products-list .product-name {
	text-align: left;
	margin: 0px 0 5px
}
.products-list .product-name a {
	font-size: 18px;
	color: #000;
	font-weight: 500;
	text-align: left;
	letter-spacing: 0.3px;
}
.products-list .item:first-child {
	padding: 5px 0 20px;
	overflow: hidden;
	margin-bottom: 30px;
}
.products-list .item:last-child {
	border-bottom: none;
}
.products-list .rating {
	padding: 5px 0px
}
.products-list .old-price .price {
	font-size: 14px
}
.products-list .item {
	padding: 20px 0;
	overflow: hidden;
	margin: 0px !important;
	border-bottom: 1px solid #e5e5e5;
}
.products-list .item a:hover {
	color: #f82e56;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
.separator {
	color: #999
}
.products-list .item h3 {
	font-weight: normal;
	color: #353535;
	padding-bottom: 2px;
}
.products-list .item h3 a {
	font-weight: normal;
	font-size: 14px;
	color: #407CBF;
	text-decoration: none
}
.products-list .item h3 a:hover {
	font-weight: normal;
	font-size: 14px;
	color: #333;
	text-decoration: underline
}
ol.products-list {
	padding: 0;
	margin: 0;
	float: left;
	margin-top: 10px;
}
li .list {
	border-bottom: none;
}
.products-list .product-image {
	float: left;
	width: 28%;
	position: relative;
	overflow: hidden;
}
.products-list .product-image img {
	width: 100%;
}
.products-list .product-shop {
	float: right;
	width: 68%;
	text-align: left;
	margin-left: 25px;
}
.products-list .product-shop .desc {
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 5px;
	color: #666
}
.products-list .product-shop p {
	font-size: 14px;
	color: #666;
	line-height: 1.5em;
}
.products-list .product-shop p.old-price {
	margin-right: 4px;
}
.products-list .product-shop .price-box {
	margin: 10px 0;
}
.products-list .desc .link-learn {
	font-size: 14px;
	font-weight: normal;
	margin-top: 5px;
}
.products-list .desc .link-learn:hover {
	text-decoration: underline;
}
.products-list .add-to-links {
	padding-left: 2px;
	float: left;
}
.add-to-links span {
	font-size: 12px;
	margin-left: 8px;
	text-transform: uppercase;
}
.products-list .product-shop .btn-cart {
	background: #f82e56;
	padding: 8px 12px;
	color: #fff;
	border: 1px solid #f82e56;
	float: left;
	margin-right: 12px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
}
.products-list .product-shop .btn-cart i, .products-list .add-to-links i {
	margin-right: 5px;
}
.products-list .product-shop .btn-cart:hover {
	background: #292c38;
	padding: 8px 12px;
	color: #fff;
	border: 1px solid #292c38;
}
.link-wishlist, .link-compare {
	color: #666;
	text-shadow: none;
	border: none;
	box-shadow: none;
}
.link-wishlist, .link-compare, .link-friend, .link-edit {
	padding: 0;
	background: none
}
.products-list .actions .add-to-links a.link-wishlist, .products-list .actions .add-to-links a.link-compare {
	color: #000;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	background-color: #fff;
	display: inline-block;
	transition: all 0.3s linear;
	margin-right: 8px;
	border-radius: 2px;
	border: 1px #ddd solid;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
}
.products-list .actions .add-to-links a.link-wishlist:hover, .products-list .actions .add-to-links a.link-compare:hover {
	background: #292c38;
	padding: 8px 12px;
	color: #fff;
	border: 1px solid #292c38;
}
a.button.detail-bnt span {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 2px;
	font-weight: normal;
	margin-left: 6px;
	display: none
}

/*  category-slider  */
.category-description {
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px
}
.category-description a {
	display: block
}
.category-description img {
	vertical-align: bottom;
	display: block
}
.category-description .product-flexslider {
	margin: 0px;
}
.category-description .owl-theme .owl-controls {
	margin: 0px;
}
.category-description .small-tag {
	color: #fff;
	display: block;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 52px;
}
/*	Category Image */

.cat-img-title {
	display: block;
	position: absolute;
	bottom: 0;
	width: 80%;
	margin: 6%;
	padding: 0;
	top: 66%;
	height: 30%;
}
.cat-img-title.cat-box {
	margin: 0;
	width: 60%;
	text-align: left;
	left: 5%;
	top: 18%;
}
.cat-img-title .cat-heading {
	font-size: 32px;
	color: #fff;
	font-weight: 500;
	margin-top: 20px;
	letter-spacing: 1px;
	line-height: 42px;
}
.cat-img-title p {
	clear: left;
	font-size: 15px;
	line-height: 1em;
	margin-bottom: 1px;
	padding: 0.25em 0.5em;
	font-weight: normal
}
.cat-img-title.cat-bg p {
	color: #fff;
	padding: 0px;
}
.category-description .slider-items-products .owl-buttons .owl-prev {
	left: 12px;
	position: absolute;
	top: 45%;
	background: none;
}
.category-description .slider-items-products .owl-buttons .owl-next {
	right: -20px;
	position: absolute;
	top: 45%;
	background: none;
}
.category-description .slider-items-products .owl-buttons a {
	z-index: 1;
	position: absolute;
	left: 10px;
	top: 0px;
	padding: 5px 3px 10px 0px;
	color: #222;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-size: 0px;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 0px;
	background: #fff;
	opacity: 0.5;
	border: 1px #ddd solid;
	margin-top: -15px;
}
.category-description .slider-items-products .owl-buttons a:hover {
	background: #f82e56;
	opacity: 1;
	border: 1px #f82e56 solid;
	color: #fff;
}
.category-description .slider-items-products .owl-buttons .owl-prev a:before {
	font-size: 24px;
	padding: 0px 8px;
	line-height: 16px;
}
.category-description .slider-items-products .owl-buttons .owl-next a:before {
	font-size: 24px;
	padding: 0px 8px;
	line-height: 16px;
}
.category-description .owl-item .item {
	margin: auto;
}

.col2-left-layout .col-main {
    padding-left: 5px;
    background: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 0 20px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.pages .pagination {
    margin: auto;
}
.pagination>li {
    display: inline;
}
.toolbar .pagination>li>a, .toolbar .pagination>li>span {
    color: #333;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all .4s ease;
}

@media screen and (max-width: 576px) {
    .toolbar{
        margin-top: 40px;
    }
    .col-sm-12.text-right {
        text-align: left !important;
        margin-top: 15px;
    }
}