.main-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
button.button.btn-continue {
    background: #f82e56;
    color: #fff;
    border: 1px solid #f82e56;
    padding: 6px 12px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
button.button.get-quote:before {
	content: "\f15c";
	font-family: FontAwesome;
	font-size: 12px;
	padding-right: 8px;
}
input.input-text, select, textarea {
	background-color: #fff;
	border: 1px #e5e5e5 solid;
	padding: 10px;
	outline: none;
	color: #666;
	border-radius: 2px;
}
input#coupon_code {
	margin: 8px 0;
	width: 100%;
}
button.button.coupon:before {
	content: "\f02b";
	font-family: FontAwesome;
	font-size: 12px;
	padding-right: 8px;
}
button.button.btn-proceed-checkout {
	background: #292c38;
	padding: 12px 0px;
	color: #fff;
	width: 100%;
	border: none;
}
button.button.btn-proceed-checkout:hover {
	background: #f82e56;
	color: #fff;
	padding: 12px 0px;
	border: none;
}
button.button.btn-proceed-checkout:before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 18px;
	padding-right: 5px;
	font-weight: normal;
}
button.button.btn-proceed-checkout span {
	font-size: 18px;
	font-weight: normal;
}
.cart-page-area .cart_item td {
	border: 1px #e5e5e5 solid;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}
.item-title > a:hover {
	color: #f82e56;
}
.cart-page-area thead th {
	border: 1px #e5e5e5 solid !important;
	text-align: center;
}
.product-thumbnail {
	width: 10%
}
.cart-page-area .product-name {
	width: 40%;
}
.product-price {
	width: 10%
}
.product-quantity {
	width: 20%
}
.product-subtotal {
	width: 10%
}
.product-remove {
	width: 10%
}
table.table {
	margin-bottom: 0;
	width: 100%;
}
.cart_item > input {
	text-align: center;
	width: 50px;
}
.remove-item a {
	color: #171819;
	display: block;
	font-size: 20px;
	font-weight: 700;
	height: 20px;
	line-height: 20px;
	margin: auto;
	width: 20px;
}
.remove-item a:hover {
	color: #f82e56
}
.cart-page-area .cart_item .item-img {
	padding: 5px;
}
.shop-cart-table thead tr {
	background: #f8f8f8;
}
.shop-cart-table thead tr th {
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 0px;
}
.shop-cart-table {
	margin-bottom: 30px;
	width: 100%;
}
.cart tbody tr {
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.cart tbody tr:hover {
	background: #f6f6f7 none repeat scroll 0 0
}
.item-qty > input {
	text-align: center;
	width: 60px;
}
.input-box-2 input {
	background: #f2f2f2 none repeat scroll 0 0;
	height: 32px;
}
.catagory-title.cat-tit-5 > h3 {
	font-size: 20px;
	margin-top: 0px;
}
.update-continue-btn {
	margin-bottom: 20px;
}
.coupn-area, .cart-total-area {
	border: 1px solid #e5e5e5;
	padding: 25px;
}
.coupn-area h3 {
	margin-top: 0px;
	font-size: 20px;
}
.shipp input {
	height: auto;
	width: auto;
	vertical-align: -2px;
}
.sub-shipping > p {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}
.sub-shipping p span {
	float: right;
}
.shipp label {
	margin-left: 5px;
}
.shipping-method p a {
	color: #999999
}
.shipping-method p a:hover {
	color: #f82e56
}
.process-cart-total > p {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.process-cart-total p span {
	float: right;
}
.cart-plus-minus input:focus {
	border-left: medium none;
	border-right: medium none;
}
.jtv-heading-style a span {
	font-family: montserrat;
	font-size: 30px;
	font-weight: normal;
	margin-right: 5px;
}
.title-tab-product-category li {
	float: left;
	width: 30%;
}
.quantity-area label {
	color: #333;
	float: left;
	margin: 7px 10px 0 0;
	text-transform: uppercase;
}
.cart-quantity {
	display: inline-block;
}
input.cart-plus-minus-box {
	background: #fff;
	border-radius: 0;
	float: left;
	height: 40px;
	line-height: 38px;
	padding: 0;
	text-align: center;
	width: 80px;
	border: 1px #e5e5e5 solid;
	margin: 0px 5px;
}
.dec.qtybutton, .inc.qtybutton {
	background: #fff none repeat scroll 0 0;
	border: 1px #e5e5e5 solid;
	border-radius: 0;
	color: #848484;
	cursor: pointer;
	float: left;
	font-size: 20px;
	font-weight: 700;
	height: 40px;
	line-height: 38px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 45px;
}
.dec.qtybutton:hover, .inc.qtybutton:hover {
	color: #fff;
	background: #f82e56;
	border-color: #f82e56
}



.create-acc-body, .ship-acc-body {
	display: none
}
.acc-toggle > input, .ship-toggle > input {
	display: block;
	float: left;
	height: auto;
	margin: 0 10px 0 0;
	width: auto;
}
.acc-toggle > label, .ship-toggle > label {
	display: block;
	line-height: 14px;
}
.create-acc-body .sm-des {
	padding: 10px 0
}
.ship-toggle > label {
	font-size: 22px;
	font-weight: normal;
	line-height: 25px;
}
.cart_item.check-heading {
	border-top: 1px #e5e5e5 solid
}
.ship-toggle > input {
	position: relative;
	top: 7px;
}
.coupne-customer-area .panel-title {
	color: #3a332f;
	font-size: 15px;
	line-height: 40px;
}
.coupne-customer-area .panel-default > .panel-heading {
	height: 60px
}
.panel-title > img {
	margin-right: 10px;
	margin-top: -3px;
	width: 15px;
}
.coupne-customer-area .panel-group .panel {
	border-image: none;
	border-radius: 0;
	border-style: solid none none;
	border-width: 2px medium medium;
	margin-bottom: 30px;
	box-shadow: none;
}
.coupne-customer-area .panel-group .panel-heading {
	background: #f8f8f8;
	border: 1px #e5e5e5 solid;
}
.coupne-customer-area .panel-body {
	border: 1px #e5e5e5 solid;
	margin-top: 20px;
	padding: 15px;
}
.payment-section input, .payment-section select {
	height: auto;
	width: auto;
}
.payment-section {
	background: #f8f8f8;
	border: 0px #e5e5e5 solid;
	line-height: 30px;
	margin-top: 12px;
}
.pay-type input {
	margin-right: 5px;
	vertical-align: -2px;
}
.panel-checkout .panel-title > a {
	color: #999999;
	display: inline-block;
	font-weight: 300;
	padding-left: 5px;
}
.panel-checkout .panel-title > a:hover {
	color: #f82e56
}
.checkout-area .input-box > label {
	font-weight: 500;
}
.checkout-area .input-box > label em {
	color: #f82e56;
	font-style: normal;
}
.checkout-area .input-box input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	width: 100%;
	padding: 8px 12px;
	margin-bottom: 10px;
}
.checkout-area select {
	width: 100%;
	background: #fff;
	border: 1px solid #e5e5e5;
	height: 45px;
	padding-left: 10px;
	box-shadow: none;
	font-size: 14px;
	color: #626262;
	margin-bottom: 10px;
}
.checkout-area textarea {
	resize: vertical;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}
a.btn-def.btn2 {
	background: #292c38;
	border: 1px solid #292c38;
	color: #fff;
	padding: 6px 15px;
	margin-bottom: 8px;
	display: inline-block;
	text-transform: uppercase;
}
a.btn-def.btn2:hover {
	background: #f82e56;
	border: 1px solid #f82e56;
}
.first-last-area .frm-action {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-style: none solid solid;
	border-width: 0;
	float: left;
	padding: 0;
	width: 100%;
}
.first-last-area .forgotten.forg:hover {
	color: #f82e56
}
.first-last-area {
	overflow: hidden;
	width: 50%;
}
.billing-details .contact-text > h2, .ship-toggle > label {
	border-bottom: 1px #e5e5e5 solid;
	color: #333;
	font-size: 18px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-top: 0px;
}
.btn-group.bootstrap-select.select-custom {
	width: 100% !important
}
.checkout-payment-area tr.prd-name:hover {
	background: #F9F9F9
}
.btn.dropdown-toggle.btn-default {
	height: 45px
}
.bs-searchbox {
	position: relative;
	cursor: pointer;
}
.bs-searchbox:before {
	content: "";
	font-family: fontawesome;
	height: 20px;
	line-height: 42px;
	position: absolute;
	right: 15px;
	top: 0;
	width: 20px;
}
.checkout-payment-area {
	background: #f8f8f8;
	padding: 25px;
	border: 1px #e5e5e5 solid;
}
.checkout-area .cart_item td {
	border-color: #ddd -moz-use-text-color -moz-use-text-color;
	border-style: solid none none;
	border-width: 1px medium medium;
	font-weight: 700;
	padding: 15px;
	text-transform: uppercase;
}
.ctg-type.crt-total {
	font-size: 18px
}
.cgt-des.prc-total {
	font-size: 18px;
}
.checkout-payment-area .prd-name td {
	font-size: 14px;
	font-weight: 500;
}
.btn-view-order {
	color: #fff !important;
	background-color: #f82e56 !important;
	border-color: #f82e56 !important;
}
.btn-reorder {
	color: #333 !important;
	background-color: #fff !important;
	border-color: #eee !important;
}
.ship-opt .shipp span {
	font-weight: 700
}
.payment-section a.btn-def {
	font-size: 16px;
	text-transform: uppercase;
}
.checkout-payment-area .checkout-total h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase;
	margin-top: 0px;
}
.jtv-heading-style a span {
	font-family: montserrat;
	font-size: 30px;
	font-weight: normal;
	margin-right: 5px;
}
.title-tab-product-category .jtv-heading-style li a {
	font-weight: normal;
	text-transform: capitalize;
	border: 1px #e5e5e5 solid;
	padding: 12px;
}
.title-tab-product-category li a {
	color: #666;
	font-size: 18px;
	font-weight: 700;
	padding: 0;
	text-transform: uppercase;
}
.title-tab-product-category .jtv-heading-style li + li {
	margin-left: 30px;
}
.title-tab-product-category .jtv-heading-style li + li a:after {
	content: none;
}
.jtv-heading-style li.active a, .title-tab-product-category li a:hover {
	border: 1px solid #333745;
	background: #333745;
	color: #fff;
}
select {
	border: 1px solid #e5e5e5;
}
.coupne-customer-area .panel-body {
	border: 1px #e5e5e5 solid;
	margin-top: 20px;
	padding: 15px;
}
.content-tab-product-category {
	margin-top: 20px;
}