.main-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
#order-tracking {
	width: 100%;
	padding: 20px 25px 5px 25px;
	border: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
#order-tracking h2 {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 4px;
	padding-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
}
#order-tracking p {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.order-tracking-form {
	max-width: 400px;
	margin: 20px auto;
}
.order-tracking-form ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.order-tracking-form li {
	display: block;
	padding: 9px;
	margin-bottom: 10px;
}
.order-tracking-form li > label {
	font-size: 14px;
}
.order-tracking-form input[type="text"], .order-tracking-form input[type="date"], .order-tracking-form input[type="datetime"], .order-tracking-form input[type="email"], .order-tracking-form input[type="number"], .order-tracking-form input[type="search"], .order-tracking-form input[type="time"], .order-tracking-form input[type="url"], .order-tracking-form input[type="password"], .order-tracking-form textarea, .order-tracking-form select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: 1px #e5e5e5 solid;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	padding: 3px 10px;
	font-weight: 400;
}
.order-tracking-form a {
	background: #f82e56;
	border: none;
	padding: 10px 20px 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: background-color 500ms ease 100ms;
}
.order-tracking-form a:hover {
	background: #494e62;
}