.exam, .suggest {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    padding: 3rem;
    margin: 3rem 0;
    border-radius: 4px;
}
.exam__info {
    display: flex;
    flex-direction: row;
}

.exam__info--wrapper {
    padding-left: 3rem;
}

.exam__info--thumbnail {
    width: 420px;
    height: calc(420px / 1.4);
}
.exam__info--thumbnail img {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
.exam__info--title {
    font-size: 2rem;
}
.exam__info--detail {
    font-weight: 300;
    color: #757575;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.exam__info--detail p {
    margin-bottom: 0;
}
.exam__info--price-new {
    font-size: 1.5rem;
    color: #F65623;
}
.exam__info--btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.exam__info--btn button {
    border-radius: 4px;
    width: 110px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 0;
    transition: all .3s ease-out;
    cursor: pointer;
}
.btn--buy {
    background-color: #F65623;
    margin-right: 1em;
}
.btn--buy:hover {
    background-color: #fd8c68;
}
.btn--test {
    background-color: #11C26D;
}
.btn--test:hover {
    background-color: #0c9855;
}

.hr {
    height: 2px;
    background-color: #fff;
    margin: 2rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.exam__description--title {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.exam__description--detail p {
    margin-bottom: .7rem;
}

.carousel a {
    color: #464646;
}

.carousel a:hover {
    text-decoration: none;
}


/* quiz-detail-bought */
@media screen and (max-width: 991px) {
    .exam, .suggest {
        padding: 1rem;
    }
    .exam__info--thumbnail {
        width: 360px;
        height: calc(360px / 1.4);
    }
}
@media screen and (max-width: 767px) {
    .exam {
        margin: 1rem 0;
    }
    .suggest {
        margin: 0 0 1rem;
    }
    .exam__info {
        flex-direction: column;
    }
    .exam__info--thumbnail {
        width: 100%;
        height: calc(100% / 1.4);
    }
    .exam__info--wrapper {
        padding: 0;
        padding-top: 1rem
    }
    .exam__info--title {
        font-size: 1.5rem;
    }
    .exam__info--detail {
        margin: .5rem 0;
    }
    .exam__info--btn {
        justify-content: space-between;
    }
    .exam__info--btn button {
        flex: 1;
    }
    
}