*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none !important;
    box-shadow: none;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #464646;
    background-color: #f4f7fa;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #464646;
    overflow-y: scroll;
    background-color: #f4f7fa;
}
h1 {
    font-size: 1.6rem !important;
}

h2 {
    font-size: 1.4rem !important;
}

h3 {
    font-size: 1.3rem !important;
}

h4 {
    font-size: 1.2rem !important;
}

h5 {
    font-size: 1.1rem !important;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.container {
    max-width: 1250px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.btn-green {
    outline: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #66bb6a;
    transition: .5s;
    text-align: center;
    border-radius: 4px;
}
.btn-green:hover {
    color: white;
    background-color: #66bb6ade;
}
img {
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}

a, a:hover {
    text-decoration: none;
}

ul li {
  list-style-type: none;
}
.form-control {
    border: none;
}
.form-control:focus {
    color: #414141;
    background-color: #fff;
    border-color: none;
    outline: none;
    box-shadow: none;
}
.body-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
}
.header {
    background: #F2785C;;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    display: block;
    position: relative;
}
.header .header__inner {
    display: flex;
    justify-content: space-between;
    background: inherit;
    box-sizing: border-box;
    height: 65px;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.header .header__logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header .header__logo-wrap {
    margin: 0 16px 0 0;
}

.techmaster-logo {
    width: 120px;
}

.header .header__left {
    flex: 1;
    min-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .dropdown {
    font-size: 14px;
    margin: 0 2px;
    padding: 10px 0;
    position: relative;
}
.header .dropdown--topics .dropdown--toggle {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
    color: #34465C;
    background-color: #fff;
}

.header .dropdown--toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #505763;
    font-weight: 400;
    height: 45px;
    line-height: 20px;
    padding: 12px 15px;
    white-space: nowrap;
}

.header .dropdown--topics .dropdown-menu {
    width: 270px;
    min-height: 200px;
    padding: 0;
}

.header .dropdown--open-on-hover .dropdown-menu {
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 2px;
    border-top: 1px solid #e8e9eb;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    color: #505763;
    font-size: 13px;
    margin: 0;
}

.h100p {
    height: 100%;
}

.header .dropdown--topics .dropdown-menu__list {
    height: 100%;
    padding: 16px 0;
}

.header .dropdown--topics .dropdown-menu__list .menu__link a {
    padding: 5px 15px;
    hyphens: auto;
    overflow-wrap: break-word;
}
.header .menu__link a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 22px;
    width: 100%;
    position: relative;
    color: #414141;
}

.header .menu__icon {
    color: #8a92a3;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.header .dropdown--open-on-hover .dropdown-menu:before {
    border-color: transparent transparent #fff transparent;
    top: -14px;
    border-style: solid;
    border-width: 0 10px 13px;
    content: ''!important;
    height: 0;
    position: absolute;
    left: 14px;
    width: 0;
}

.header .dropdown--open-on-hover:hover .dropdown-menu {
    display: block;
}

.header .header__search-wrapper {
    margin: 0 25px;
    max-width: 630px;
    width: 100%;
}

.header .header__search-wrapper .input-group {
    background-color: #f2f3f5;
    border-radius: 2px;
    position: relative;
    display: table;
    border-collapse: separate;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.input-group .form-control {
    background-color: transparent;
    border-color: transparent;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    font-size: 14px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-collapse: separate;
}

.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
    background-image: none;
    border: 1px solid #8a92a3;
    border-radius: 2px;
    box-shadow: none;
    transition: border-color ease-in-out .08s,box-shadow ease-in-out .08s;
}

.btn-link[type=submit] {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #C4C4C4;
    width: 44px;
    height: 44px;
    z-index: 2;
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-link.active {
    color: #34465C;
}
.header .header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn__exam--white {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 .5rem;
    /* text-transform: uppercase; */
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    color: #414141;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
    .btn__exam--white {
        display: none;
    }
}
.user-nav {
    margin-left: 1rem;
}
.user-nav i{
    font-size: 1.5rem;
}
.user-nav .dropdown-content {
    top: 100% !important;
    width: 200px !important;
    right: 1rem !important;
    left: auto !important;
    margin: 0;
    margin-top: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
    border-radius: 0.25rem;
    height: auto !important;
    background-color: #fff;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.user-nav .dropdown-user-avatar-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}  

.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}

.dropdown-content li:hover {
    background-color: #e5e5e5;
}

.dropdown-content li a {
    color: #464646 !important;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

/* Modal */
.modal-dialog {
    margin-top: 10%;
}

#sign-in-div,
#sign-up-div,
#forgot-password .modal-content {
    padding: 3rem;
}

#modal-signin .nav-tabs .nav-link {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
    color: #464646;
    background-color: #1e3c740f;
    padding: 1rem;
}

#modal-signin .nav-tabs .nav-link.active {
    background-color: white;
}
.modal-login-item {
    margin-bottom: 2rem;
}

.modal-login-item input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    width: 100%;
}

.modal-login-item-half {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-login-modal {
    letter-spacing: .5px;
    border-radius: 4px;
    padding: .5rem 1rem;
    width: 100%;
    text-transform: uppercase;
}

#overlay {
    position: fixed;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
    transition: 1s;
    transition-timing-function: ease;
}
.mobile {
    display: none;
}

#forgot-password {
    display: none;
}

.checkbox-remember-me {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
}

.checkbox-remember-me input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #1e3c741f;
}

.checkbox-remember-me input:checked~.checkmark {
    background-color: #3C78E8;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-remember-me input:checked~.checkmark:after {
    display: block;
}

.checkbox-remember-me .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#sign-in-div .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    margin: 0 10px 0 10px;
    display: inline-block;
}

#sign-in-div .fab img {
    height: 100%;
    width: 40px;
}

@media (min-width:576px) {
    #modal-signin .modal-dialog {
        max-width: 400px;
    }
}


/* LIST EXAM */
#list-exam {
    margin: 2rem 0;
}
.list-exam__title {
    margin-bottom: 1em;
}
.list-exam__title h2 {
    display: inline-block;
    border-bottom: 1px solid #414141;
    padding-bottom: .3rem;

}
.list-exam__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 2rem;
}

.list-exam__item {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    
}

.list-exam__list a {
    color: #464646;
}

.list-exam__list a:hover {
    text-decoration: none;
}

.item__thumbnail::before {
    content: "";
    display: block;
    padding-top: 70%;
}

.item__thumbnail {
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.item__thumbnail img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.item__info {
    height: 6rem;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 1.5rem 0 1.5rem;
}

.item__title {
    width: 100%;
    font-size: 1.2rem;
    color: #414141;
}

.item__detail {
    font-weight: 300;
    color: #757575;
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.item__price {
    padding: 1rem 1.5rem;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.item__price--new {
    color: #F65623;
    font-size: 1.2rem;
}

/* slick */
.carousel .list-exam__item {
    width: 281px !important;
    margin-right: 32px !important;
}
.mt-mg-2r {
    margin-top: 1.5em;
    margin-bottom: 1.5rem;
}
.slick-arrow {
    background-color: #F2785C;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    z-index: 1;
}
.slick-arrow::before {
    width: 30px !important;
    height: 30px !important;
    font-size: 1.5rem;
    position: relative;
    top: 2px;
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    background-color: #F2785C;
    outline: 0;
}
/* FOOTER */
.footer {
    font-size: 14px;
}


footer {
    padding: 3rem 0 3rem 0;
    line-height: 2.5em;
}

footer h4 {
    color: #fff;
    font-size: 18px;
}

footer,
footer a {
    color: #919294;
}

.social-links ul {
    list-style-type: none;
}

.desktop.social-links li {
    float: left;
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.desktop.social-links {
     
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.footer-info li a:hover {
    color: #919294;
}

.mobile.social-links {
        display: none;
}

@media (max-width: 575px) {
    .footer-info {
        text-align: center;
    }

    .desktop.social-links {
        display: none;
    }

    .mobile.social-links {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }
}

.list-inline.social-links .fab {
    border-radius: 0px;
}




/* //////////////reponsive header////////////// */
.menu-mobile {
    font-size: 1rem;
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    z-index: 999;
    background-color: white;
    top: 0px;
    align-items: center;
    transition: 0.4s;
    display: none;
}

button.btn-responsive__wrapper {
    background-color: transparent;
    border: none;
    display: none;
}

.btn-responsive--inner {
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.btn-responsive--inner span {
    display: block;
    height: 4px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.btn-responsive--inner span:not(:last-child) {
    margin-bottom: 4px;
}

@media screen and (max-width: 991px) {
    .header .header__inner {
        height: 62px;
    }
    button.btn-responsive__wrapper {
        display: inline-block;
    }
    .header__logo-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .header__left {
        display: none !important;
    }
    .menu-mobile {
        display: block;
    }
    .header .menu__link a {
        font-size: 15px;
        padding: 10px 25px;
    }
    .header .menu__icon {
        margin-right: 12px;
    }
}
