
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-size:16px;
    font-family: sans-serif;
    background-color: #42444E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrap{
    padding:25px;
    width:300px;
    background-color: gray;
    border-radius: 10px;
    text-align:center;
}
.result{
    line-height:35px;
    padding-left:10px;
    padding-right:10px;
    width:100%;
    background: #bccd95;
    color: #000;
    border: none;
    outline: none;
}
.row{
    margin-bottom:12px;
}
.five-cols{
    margin-left:-10px;
    margin-right:-10px
}
.five-cols .col{
    float:left;
    width:20%;
    padding-left:10px;
    padding-right:10px
}
.item{
    display:inline-block;
    width:100%;
    height:100%;
    line-height:36px;
    text-align:center;
    cursor:pointer;
    transition:all .2s ease-out;
    background-color: #d3d3d3;
    border-radius: 8px;
}
.item:active{
    background-color:#fff;
}
.item.yellow{
    background-color:orange;
    color:#fff;
}
.item.yellow:hover{
    background-color:#e69500
}
.bg-dark {
    background-color: #192029;
    color: #fff
}
.bg-dark:active {
    background-color: #d3d3d3;
}
.clearfix:after{
    clear:both;
    content:"";
    display:block;
    height:0;
    line-height:0;
    visibility:hidden;
}
