*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 100px;
    height: 100px;
    background-color: #333;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav a {
    display: inline-block;
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid transparent;
    margin: 0 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-out;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 2px solid #fff;
    transform-origin: left left;
}

.main-content {
    min-height: 500px;
    text-align: center;
    line-height: 500px;
}

footer {
    background-color: #333;
}

.main-content h1 {
    text-transform: uppercase;
}

.footer--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__sub-menu {
    flex: 0 0 20%;
}
.footer__sub-menu a {
    display: block;
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
