@import url(subject.css);

ul.sidebar-menu {
    max-width: 400px;
    list-style-type: none;
    width: 215px;
}
ul.nav-fix-left {
    position: fixed;
    top: 106px;
    left: 50px;
}
.sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
}
.sidebar-menu li a  {
    background-color: #008c9e;
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar-menu li a:hover  {
    background-color: #52565d;
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
}
li.have-children ul {
    padding: 0px;
    list-style-type: none;
} 
li.have-children ul li a {
    background-color: #3c3636;
    padding-left: 62px;
} 
li.have-children ul li a:hover {
    color: #fff;
    background-color: #52565d;
    padding-left: 62px;
} 
li.have-children, li {
    position: relative;
}
.have-children span::after {
  position: absolute;
  right: 10px;
  content: "\f054";
  color: #fff;
  transition: all .5s;
  transform: rotate(180deg);
}
li.active.have-children span::after {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}
.main-content {
    margin-left: 260px;
    margin-top: 16vh;
    margin-bottom: 3vh;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-content {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.home-content > article > button {
    position: relative;
     text-align: center;
    -moz-box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 2px #eee;
    padding: 4%;
    display: block;
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    font-weight: bolder;
    transition: 0.5s;
    background-size: 200% auto;
    color: #0A4273;
    border: 3px solid #0A4273;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
}
 .home-content > article > button:hover {
    color: #fff;
    background-color: #0A4273;
    text-decoration: none;
    opacity: 1;
    background-position: right center;
}
 .home-content > article > button:focus {
     outline: none;
}

.home-header {
    margin-bottom: 2.5%;
    max-height: 50px;
    background-color: #0A4273;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
}
.home-content {
    width: 100%;
    max-height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px 80px;
    justify-content: center;
    align-items: center;
}
a.home-button {
    text-align: center;
    -moz-box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    box-shadow: 0 0 2px #eee;
    padding: 3%;
    display: block;
    width: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    font-weight: bolder;
    transition: 0.5s;
    background-size: 200% auto;
    color: #0A4273;
    border: 3px solid #0A4273;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    text-decoration: none;
}

.content-box > a:hover{
    color: #fff;
    background-color: #0A4273;
    text-decoration: none;
    opacity: 1;
    background-position: right center;
}
