*, *:before, *:after, body, html{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 html {
     overflow-y: scroll;
     line-height: 1.5;
     font-family: "Roboto", sans-serif;
     font-weight: normal;
     color: rgba(0, 0, 0, 0.87);
}
 body {
     font-size: 16px;
}
/*/
///////////////////// //// HEADER ////// /////////////////////
/*/
 .header {
     width: 100%;
     min-height: 100px;
     display: grid;
     grid-template-columns: 140px 1fr 270px 150px;
     background:url(../img/bglogo.png);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    transition: all ease .4s;
}
 .flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}
.header a.back-home {
    display: inline-block;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.header a {
     color: #fff;
}
.header ul li a:hover {
    text-decoration: underline;
}
.header__logo {
    position: relative;
    display: flex;
    align-items: center;
}
.header__logo img.logo {
    position: absolute;
    left: 30px;
}
.header__banner {
    display: flex;
    align-items: center;
}
.header__contact {
    position: relative;
}
.header__contact ul {
    position: absolute;
    top: 28%;
}
.header.fixed-top{
    transition: all ease .4s;
}
a.color-white {
    color: #fff !important;
}

/*BTN-LOGIN-MODAL*/

.header__btn-login > .btn-login-modal {
     display: inline-block;
     padding: 10px 15px;
     background: #008c9e;
     color: #fff;
     border: none;
     outline: none;
     cursor: pointer;
     border: 2px solid #008c9e;
     transition: all .5s ease;
}
.header__btn-login > .btn-login-modal:hover {
    background: #fff;
    color: #008c9e;
    border-radius: 10px;
}
/*//////////// RUNNING TEXT ////////////*/
.scroll-left {
    margin-top: 100px;
    height: 70px; 
    overflow: hidden;
    position: relative;
}
.scroll-left p.title {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    line-height: 50px;
    text-align: center;
    animation: scroll-left 20s linear infinite;
    text-transform: uppercase;
    font-size: 20px;
}

@keyframes scroll-left {
    0% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}
/*/
///////////////////// //// CONTENT ////// /////////////////////
/*/
 .content {
     width: 100%;
     padding-top: 3%;
     display: flex;
     flex-direction: column;
}
/*/
///////////////////// //// BACK TO TOP /// /////////////////////
/*/
 .go-top {
     position: fixed;
     right: 30px;
     bottom: 30px;
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     background-color: #052F4C;
     font-size: 30px;
     color: #fff;
     border-radius: 50%;
}
 .go-top:hover {
     transition: .3s;
     border: 2px solid #052F4C;
     background-color: #fff;
     color: #052F4C;
}
/*/
///////////////////// //// FOOTER ////// /////////////////////
/*/
 #footer {
     background: #222428;
     color: #919294;
     padding-top: 20px;
     padding-bottom: 20px;
}
 #footer .container {
     margin: 0 auto;
     max-width: 1280px;
     width: 90%;
}
 #footer .container .row {
     margin-left: -0.75rem;
     margin-right: -0.75rem;
     margin-bottom: 20px;
}
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 .row .col {
     float: left;
     box-sizing: border-box;
     padding: 0 0.75rem;
}
 .clearfix {
     clear: both;
}
 #footer h4 {
     color: #fff;
     font-size: 18px;
     line-height: 110%;
     margin: 1.14rem 0 0.912rem 0;
     font-weight: 300;
}
 #footer .add-nav {
     padding-bottom: 20px;
}
 .nav-list {
     font-size: 14px;
     line-height: 17px;
}
 ul {
     padding: 0;
}
 ul li {
     list-style-type: none;
}
 .nav-list li {
     padding: 0 0 11px;
}
 #footer a {
     color: #919294;
     text-decoration: none;
     background-color: transparent;
}
 #footer a:hover {
     text-decoration: underline;
}
 #footer ul.social-links {
     margin-top: 0;
}
 #footer .list-inline {
     padding-left: 0;
     list-style: none;
}
 #footer ul.list-inline li {
     display: inline-block;
     margin-right: 5px;
}
 #footer ul.social-links .facebook {
     background: #3a5795 !important;
     padding-left: 13px;
     padding-top: 7px;
}
 #footer ul.social-links a {
     display: inline-block;
     width: 40px;
     height: 40px;
}
 #footer ul.social-links i {
     font-size: 1.5em;
     color: #fff;
     cursor: pointer;
}

 #footer i {
     text-decoration: none;
}
 .fa-facebook-f:before, .fa-facebook:before {
     content: "\f09a";
}
 #footer ul.social-links .youtube {
     background: #e62117 !important;
     padding-left: 13px;
     padding-top: 7px;
}
 .fa-youtube:before {
     content: "\f167";
}
 #footer ul.social-links .github {
     background: #bc6bc3 !important;
     padding-left: 6px;
     padding-top: 7px;
}
 .fa-github-alt:before {
     content: "\f113";
}
 address {
     font-style: italic;
}
 @media only screen and (min-width: 993px) {
     .row .col.l3 {
         width: 25%;
         margin-left: auto;
         left: auto;
         right: auto;
    }
     .row .col.l9 {
         width: 75%;
         margin-left: auto;
         left: auto;
         right: auto;
    }
     .row .col.l7 {
         width: 58.3333333333%;
         margin-left: auto;
         left: auto;
         right: auto;
    }
     .row .col.l5 {
         width: 41.6666666667%;
         margin-left: auto;
         left: auto;
         right: auto;
    }
}
/*/
///////////////////// /// LIST SUBJECT /// /////////////////////
/*/
 #main_row_2 {
     padding-bottom: 20px;
     padding-top: 20px;
}
 .center, .center-align {
     text-align: center;
}
 .row {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
}
 .row .col {
     float: left;
     box-sizing: border-box;
     padding: 0 0.75rem;
}
 @media only screen and (min-width: 1366px) {
     .row .col.xl3 {
         width: 25%;
         margin-left: 0;
    }
}
 .container {
     margin: 0 auto;
     max-width: 1280px;
     width: 90%;
}
 @media only screen and (min-width: 1200px) {
     .container {
         width: 80%;
    }
}
 a {
     text-decoration: none;
     color: #039be5;
     background-color: transparent;
}
 .path-item {
     margin-left: auto;
     margin-right: auto;
     max-width: 300px;
     margin-bottom: 3rem;
}
 .card {
     position: relative;
     margin: 0.5rem 0 1rem 0;
     background-color: #fff;
     transition: box-shadow .25s;
     border-radius: 2px;
     box-shadow: 0 0 10px #bbb;
}
 .white {
     background-color: #fff !important;
}
 .black-text {
     color: #000 !important;
}
 .hoverable {
     transition: box-shadow .25s;
     box-shadow: 0;
}
 .hoverable:hover {
     transition: box-shadow .25s;
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 @media (min-width: 600px) {
     .path-item {
         max-width: 400px;
    }
}
 .card .card-image {
     position: relative;
}
 .valign-wrapper {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
}
 .card .card-image img {
     display: block;
     border-radius: 2px 2px 0 0;
     position: relative;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     width: 100%;
}
 img.responsive-img {
     max-width: 100%;
     height: auto;
}
 img {
     display: block;
     border: 0;
}
 .card .card-content {
     padding: 0 20px;
     border-radius: 0 0 2px 2px;
     height: 250px;
}
 .path-title {
     position: relative;
     font-size: 20px;
     font-weight: 700;
     color: #444;
     margin: 15px 0;
}
 .left-align {
     text-align: left;
}
 .path-title::before {
     content: '';
     position: absolute;
     bottom: -20px;
     left: 0;
     width: 100%;
     height: 2px;
     background: #3c948b;
}
 .path-item .card-content p {
     font-size: 14px;
     font-weight: 300;
     line-height: 24px;
     padding-top: 20px;
     color: #7b8b8e;
     position: relative;
     z-index: 0;
     margin: 0 0 20px 0;
}
/*/
///////////////////// //// MODAL ////// /////////////////////
/*/
 .card-content > button.see-more {
     float: right;
     background-color: #0d52e9;
     position: relative;
     color: #fff;
     border: none;
     padding: 1em 1.5em;
     font-size: 0.75em;
     letter-spacing: 1px;
     text-transform: uppercase;
     cursor: pointer;
     box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
     transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}
 .card-content > button.see-more:hover {
     background: #0c4ddb;
}
 .card-content > button.see-more:focus {
     outline: none;
}
/** * Overlay * -- only show for tablet and up */
 @media only screen and (min-width: 40em) {
     .modal-overlay {
         display: flex;
         align-items: center;
         justify-content: center;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 5;
         background-color: rgba(0, 0, 0, 0.6);
         opacity: 0;
         visibility: hidden;
         backface-visibility: hidden;
         transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    }
     .card-content .modal-overlay.active {
         opacity: 1;
         visibility: visible;
    }
}
/** * Modal */
 .modal {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     margin: 0 auto;
     background-color: #fff;
     width: 600px;
     max-width: 75rem;
     min-height: 20rem;
     padding: 1rem;
     border-radius: 3px;
     opacity: 0;
     overflow-y: auto;
     visibility: hidden;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     backface-visibility: hidden;
     transform: scale(1.2);
     transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
 .modal .close-modal {
     position: absolute;
     cursor: pointer;
     top: 5px;
     right: 15px;
     opacity: 0;
     backface-visibility: hidden;
     transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
     transition-delay: 0.3s;
}
 .modal .close-modal svg {
     width: 1.75em;
     height: 1.75em;
}
 .modal .modal-content {
     opacity: 0;
     backface-visibility: hidden;
     transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
     transition-delay: 0.3s;
}
 .modal.active {
     visibility: visible;
     opacity: 1;
     transform: scale(1);
}
 .modal.active .modal-content {
     opacity: 1;
}
 .modal.active .close-modal {
     transform: translateY(10px);
     opacity: 1;
}
/** * Mobile styling */
 @media only screen and (max-width: 39.9375em) {
     .modal {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         -webkit-overflow-scrolling: touch;
         border-radius: 0;
         transform: scale(1.1);
         padding: 0 !important;
    }
     .close-modal {
         right: 20px !important;
    }
}
/*/
//////////////////////////// ///// FORM SEARCH /////////// ////////////////////////////
/*/
 
/*/
///////////////////// ////// SLIDE /////// /////////////////////
/*/
.mySlides {
  display: none
}
img {
    vertical-align: middle;
    display: block;
    max-width: 100%;
    margin: auto;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Next & previous buttons */
.slide-prev, .slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slide-prev:hover, .slide-next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot-btn {
    position: absolute;
    bottom: 17px;
    left: 50%;
}

.slide-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-active, .slide-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*/
///////////////////// //// BTN LOGIN ////// /////////////////////
/*/
 .btn-login-modal {
     display: inline-block;
     padding: 10px 15px;
     background: #008c9e;
     color: #fff;
     border: none;
     outline: none;
     cursor: pointer;
     border: 2px solid #008c9e;
     transition: all .5s ease;
}
.btn-login-modal:hover {
    background: #fff;
    color: #008c9e;
    border-radius: 10px;
}


/*/
///////////////////// //// pagination ////// /////////////////////
/*/
 #SandBox-pagination {
     width: 100%;
     margin: 1rem auto;
}
 .pagination li {
     display: inline-block;
     font-size: 1.2rem;
     padding: 0 10px;
     line-height: 30px;
     border-radius: 2px;
     text-align: center;
}
 .pagination li.disabled a {
     cursor: default;
     color: #999;
}
 .pagination li a {
     color: #444;
}
 .pagination li.active {
     background-color: #ee6e73;
}
 .sandbox:after {
     content: '';
     display: inline-block;
     width: 100%;
}
/*.pagination .prev, .pagination .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 20px;
     color: white;
     font-weight: bold;
     font-size: 16px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
}
*/
 .pagination .next {
     right: 0;
     border-radius: 3px 0 0 3px;
}

/*/
///////////////////// //// mega-menu ////// /////////////////////
/*/
.container-mega-menu {
    width: 1000px;
    margin-left: 131px;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

nav {
    background: #008c9e;
    font-size: 0;
    position: relative;
    
}

nav > ul > li {
    display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}

nav > ul > li > a {
    color: #fff;
    display: block;
    padding: 15px 0;
    transition: all .3s ease;
    font-weight: bold;
    font-size: 16px;
}
nav > ul > li:hover > a {
    color: #444;
}

.mega-menu {
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    z-index: 2;
}
.mega-menu h3 {
    color: #444;
    margin-top: 20px;
    margin-bottom: 15px;
}

.mega-menu .container-mega-menu {
    display: flex;
}
.mega-menu .list-group-subject {
    flex-grow: 1;
    margin: 0 10px;
}
.mega-menu a {
    border-bottom: 1px solid #ddd;
    color: #008c9e;
    display: block;
    padding: 10px 0;
}
.mega-menu a:hover {color: #2d6a91;}


.dropdown {position: static;}

.dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}

/*/////////////////////*/
/* Full-width input fields */
#modal-login-id .modal-content-login .container input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#modal-login-id .modal-content-login .container button.btn-login {
  background-color: #008c9e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#modal-login-id .modal-content-login .container button.btn-login:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
#modal-login-id .modal-content-login .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#modal-login-id .modal-content-login .container {
  padding: 16px;
}

/*span.psw {
  float: right;
  padding-top: 16px;
}*/

/* The Modal (background) */
.modal-login {
    display: none;
    position: fixed;
    z-index: 6;
    left: 405px;
    top: 100px;
    background-color: rgb(0,0,0);
    background-color: transparent;
    font-size: 14px;
    
}

/* Modal Content/Box */
#modal-login-id .modal-content-login {
    background-color: #fefefe;
    margin: 0 63%;
    border: 1px solid #888;
    width: 40%;
}
/* The Close Button (x) */
#modal-login-id .modal-content-login .imgcontainer .close {
  position: absolute;
  right: 14px;
  top: -28px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#modal-login-id .modal-content-login .imgcontainer .close:hover,
#modal-login-id .modal-content-login .imgcontainer .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}







 