<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="example-1">\
        <h2>Array</h2>
        <ul>
            <li v-for="item in items">
                {{ item.name }}
            </li>
        </ul>
        <hr>

        <ul>
            <li v-for="(item, index) in items">
                {{index}} - {{ item.name }}
            </li>
        </ul>
        <hr>

        <h2>Object</h2>
        <p>Lặp qua key</p>
        <ul>
            <li v-for="(value, key) in object">
                {{key}} : {{ value }}
            </li>
        </ul>
        <hr>

        <p>Lặp qua key-value</p>
        <ul>
            <li v-for="(value, key, index) in object">
                {{index}} - {{key }} : {{ value }}
            </li>
        </ul>
    </div>


    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { name: 'Cà phê' },
                    { name: 'Trà đặc' },
                    { name: 'Bò húc' }
                ],
                object: {
                    'họ': 'Bành',
                    'tên': 'Tổ',
                    'tuổi': 800
                }
            }
        })

        //Sử dụng các phương thức trên mảng
        // example1.items.push({ name: 'Nước chanh' })

        // example1.items = example1.items.filter(function (item) {
        //     return item.name.match(/à/)
        // })

        // Các method trên mảng được sử dụng : push(), pop(), shift(), unshift() ,splice(), sort(), reverse()

        //Một số điểm lưu ý
        //Do một số hạn chế của JavaScript, Vue không thể phát hiện thấy những thay đổi sau đây đối với mảng:

        //Khi bạn gán một phần tử trực tiếp vào một index, ví dụ vm.items[index] = newValue
        //Khi bạn thay đổi kích thước của mảng, ví dụ vm.items.length = newLength

        //Vd
        example1.items[1] = 'x' // KHÔNG reactive
        example1.items.length = 2 // cũng KHÔNG reactive
    </script>
</body>

</html>