*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

body {
  background: url(./images/john-towner-FD_sabE544U-unsplash.jpg) 0 0 no-repeat;
  background-size: cover;
  font-size: 16px;
  color: #414141;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
/* ------------- AUTHOR --------------*/
#todo__author {
  width: 100%;
  padding-top: 100px;
}

.todo__author {
  display: block;
  width: 100%;
  font-size: 60px;
  margin: 0 auto;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.todo__author::before {
    content: "BÙI HIÊN";
    color: rgba(220, 220, 220, 0.5);
    font-size: 100px;
    display: block;
    font-weight: 900;
    letter-spacing: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
}
/*----- title ------*/
.todo__title {
  font-family: courier, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo__title h3 {
  position: relative;
  color: #152860;
  text-align: center;
  white-space: nowrap;
  font-size: 28px;
  letter-spacing: 0.0625em;
  width: calc(20ch + 20*0.0625em);
}
.todo__title h3:after {
  display: block;
  position: absolute;
  content: '';
  width: calc(20ch + 20*0.0625em);
  height: 2.5ex;
  left: 0;
  top: 0;
  background: #fff;
  animation: 0.6s blink 20, move 3s 1.5s forwards steps(1);
  border-left: 1px solid #152860;
  box-shadow: 0px 1ex 0px 0px #fff;
}
@keyframes move {
  5% {
    width: calc(calc(20ch + 20*0.0625em) - (1ch + 1*0.0625em));
    left: calc(1ch + 1*0.0625em);
  }
  10% {
    width: calc(calc(20ch + 20*0.0625em) - (2ch + 2*0.0625em));
    left: calc(2ch + 2*0.0625em);
  }
  15% {
    width: calc(calc(20ch + 20*0.0625em) - (3ch + 3*0.0625em));
    left: calc(3ch + 3*0.0625em);
  }
  20% {
    width: calc(calc(20ch + 20*0.0625em) - (4ch + 4*0.0625em));
    left: calc(4ch + 4*0.0625em);
  }
  25% {
    width: calc(calc(20ch + 20*0.0625em) - (5ch + 5*0.0625em));
    left: calc(5ch + 5*0.0625em);
  }
  30% {
    width: calc(calc(20ch + 20*0.0625em) - (6ch + 6*0.0625em));
    left: calc(6ch + 6*0.0625em);
  }
  35% {
    width: calc(calc(20ch + 20*0.0625em) - (7ch + 7*0.0625em));
    left: calc(7ch + 7*0.0625em);
  }
  40% {
    width: calc(calc(20ch + 20*0.0625em) - (8ch + 8*0.0625em));
    left: calc(8ch + 8*0.0625em);
  }
  45% {
    width: calc(calc(20ch + 20*0.0625em) - (9ch + 9*0.0625em));
    left: calc(9ch + 9*0.0625em);
  }
  50% {
    width: calc(calc(20ch + 20*0.0625em) - (10ch + 10*0.0625em));
    left: calc(10ch + 10*0.0625em);
  }
  55% {
    width: calc(calc(20ch + 20*0.0625em) - (11ch + 11*0.0625em));
    left: calc(11ch + 11*0.0625em);
  }
  60% {
    width: calc(calc(20ch + 20*0.0625em) - (12ch + 12*0.0625em));
    left: calc(12ch + 12*0.0625em);
  }
  65% {
    width: calc(calc(20ch + 20*0.0625em) - (13ch + 13*0.0625em));
    left: calc(13ch + 13*0.0625em);
  }
  70% {
    width: calc(calc(20ch + 20*0.0625em) - (14ch + 14*0.0625em));
    left: calc(14ch + 14*0.0625em);
  }
  75% {
    width: calc(calc(20ch + 20*0.0625em) - (15ch + 15*0.0625em));
    left: calc(15ch + 15*0.0625em);
  }
  80% {
    width: calc(calc(20ch + 20*0.0625em) - (16ch + 16*0.0625em));
    left: calc(16ch + 16*0.0625em);
  }
  85% {
    width: calc(calc(20ch + 20*0.0625em) - (17ch + 17*0.0625em));
    left: calc(17ch + 17*0.0625em);
  }
  90% {
    width: calc(calc(20ch + 20*0.0625em) - (18ch + 18*0.0625em));
    left: calc(18ch + 18*0.0625em);
  }
  95% {
    width: calc(calc(20ch + 20*0.0625em) - (19ch + 19*0.0625em));
    left: calc(19ch + 19*0.0625em);
  }
  100% {
    width: calc(calc(20ch + 20*0.0625em) - (20ch + 20*0.0625em));
    left: calc(20ch + 20*0.0625em);
  }
}
@keyframes blink {
  0% {
    border-left-color: #152860;
  }
  50% {
    border-left-color: #152860;
  }
  51% {
    border-left-color: #fff;
  }
  100% {
    border-left-color: #fff;
  }
}


/*--------------- TODO -------------*/
.container-wrapper {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4px;
  padding: 1rem;
}
.todo__input-box {
  display: flex;
  margin: 2rem 0 2rem;
  height: 38px;
}

.btn__add {
  color: #fff;
  background-color: royalblue;
  border: none;
  outline: none;
  padding: 0 1rem;
  cursor: pointer;
  opacity: .5;
  transition: opacity .4s ease-out;
}
.todo__title {
  text-align: center;
  font-size: 1.5rem;
}

#todo__input {
  flex: 1 0 auto;
  border: 1px solid #ccc;
  padding: 0 .5rem;
  transition: border .4s ease-out;
  color: #757575;
  font-size: 14px;
}

#todo__input:focus {
  border: 1px solid cornflowerblue;
}

#todo__input:focus + .btn__add {
  opacity: 1;
}

input::placeholder {
  color: #757575;
  font-size: 14px;
  font-style: italic;
}

.todo__item {
  position: relative;
  display: flex;
  align-items: center;
  color: #757575;
  background-color: #eee;
  padding: 0 1rem;
  transition: transform .5s ease-out;
  border-radius: 4px;
}
.todo__item:hover {
  transform: translateX(5px);
}

.todo--success {
  font-style: italic;
}
.todo--success:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: cornflowerblue;
  z-index: 1;
}
.todo--success .todo__status {
  font-style: italic;
}

.btn__remove {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  color: crimson;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}
.btn__remove:hover {
  color: brown;
}
.todo__status {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}