@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =======================================================
* ======================================================= */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(to bottom right, #67b26f, #4ca2cd);
}

@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
    }
}

a {
    color: #2c98f0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #2c98f0;
    outline: none;
    text-decoration: none !important;
}

p {
    margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Roboto", Georgia, serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

figure {
    margin-bottom: 2.5em;
    float: left;
    width: 100%;
}

figure figcaption {
    font-size: 16px;
    width: 80%;
    margin: 20px auto 0px auto;
    color: #b3b3b3;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 480px) {
    figure figcaption {
        width: 100%;
    }
}

::-webkit-selection {
    color: #fff;
    background: #2c98f0;
}

::-moz-selection {
    color: #fff;
    background: #2c98f0;
}

::selection {
    color: #fff;
    background: #2c98f0;
}

#cv-page {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cv-aside {
    padding-top: 3em;
    padding-bottom: 40px;
    float: left;
    width: 300px;
    position: fixed;
    z-index: 1001;
    background: #f2f3f7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #cv-aside {
        width: 300px;
        -moz-transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        transform: translateX(-300px);
        padding-top: 4em;
    }
}

#cv-aside .author-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#cv-aside .position {
    display: block;
    margin-bottom: 2em;
    font-size: 12px;
    text-transform: uppercase;
}

#cv-aside #cv-logo {
    text-align: right;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: .5em;
    display: block;
    width: 100%;
}

#cv-aside #cv-logo a {
    display: block;
    text-align: center;
    color: #000;
    padding-right: .3em;
}

#cv-aside #cv-main-menu {
    display: block;
    width: 100%;
}

#cv-aside #cv-main-menu .collapse {
    display: block !important;
}

#cv-aside #cv-main-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #cv-aside #cv-main-menu ul {
        margin: 0 0 2em 0;
    }
}

#cv-aside #cv-main-menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#cv-aside #cv-main-menu ul li a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#cv-aside #cv-main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #2c98f0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#cv-aside #cv-main-menu ul li a:hover {
    text-decoration: none;
    color: black;
}

#cv-aside #cv-main-menu ul li a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#cv-aside #cv-main-menu ul li.active a {
    color: #2c98f0;
}

#cv-aside #cv-main-menu ul li.active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.container-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

#cv-main {
    width: calc(100% - 300px);
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #cv-main {
        width: 100%;
        padding: 0 1em;
    }
}

body.offcanvas {
    overflow-x: hidden;
}

body.offcanvas #cv-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 300px;
    background: #f2f3f7;
    z-index: 999;
    position: fixed;
    height: 100%;
}

body.offcanvas #cv-main,
body.offcanvas .cv-nav-toggle {
    top: 0;
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
}

.cv-narrow-content {
    padding: 0 2.5em;
}

@media screen and (max-width: 768px) {
    .cv-narrow-content {
        padding: 0;
    }
}

.no-gutters {
    margin: 0;
    padding: 0;
}

.cv-experience,
.cv-skills,
.cv-target,
.cv-work,
.cv-about,
.cv-contact {
    padding-top: 4em;
	padding-bottom: 4em;
    clear: both;
    width: 100%;
	display: block;
    border-bottom: 10px solid rgba(74, 74, 74, 0.08);
    background-color: #fff;
}
.cv-contact {
	border-bottom: none;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {

    .cv-experience,
	.cv-skills,
	.cv-target,
    .cv-work,
    .cv-about,
    .cv-contact {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-bottom: 2rem;
    }
    .cv-about {
        padding-top: 5em;
    }
}

.author-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.cv-about p {
	margin-bottom: 10px;
}

.cv-heading {
    font-size: 20px;
    margin-bottom: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.8;
    position: relative;
}

.cv-heading span {
    display: block;
}


.about-img {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
}

.cv-about .about-desc:not(:last-child) {
	margin-bottom: 5rem;
}
.about-desc h3 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
}

.fancy-collapse-panel .panel-default>.panel-heading {
    padding: 0;
}

.panel-heading a {
    padding: 20px 25px;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: #2c98f0;
    color: #fff;
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

.panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}

.panel-heading a:after {
    font-family: "icomoon";
    content: "\e115";
    position: absolute;
    right: 20px;
    font-size: 14px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -7px;
}

.panel-heading a.collapsed:after {
    content: "\e114";
}

.panel-heading a.collapsed {
    background: #f2f3f7;
    border: 1px solid #e6e6e6 !important;
    color: #333333;
}

.panel-body {
    padding: 1.5em;
    margin-top: 5px;
    border: 1px solid #e6e6e6 !important;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 20px;
    bottom: 20px;
    margin-left: 29px;
}

.timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f2f3f7;
    padding: 1.5em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #000;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .4;
    -moz-opacity: .4;
    opacity: .4;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    font-size: 16px;
    display: inline-block;
    margin-top: 1rem;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
       font-size: 12px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner {
        margin-left: -14px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
        margin-left: 5px;
    }
}

@media (max-width: 576px) {
    .timeline-centered .timeline-entry {
        margin-left: 17px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        margin-left: 46px;
    }
    .timeline-centered:before {
        margin-left: 17px;
    }
}

.cv-skills p {
    display: flex;
    margin-bottom: 10px;
}
.cv-skills p:last-child {
    margin-bottom: 3rem;
}
.cv-skills p span{
    display: inline-block;
    margin-right: 10px;
}

.cv-feature {
    text-align: left;
    width: 100%;
    float: left;
    margin-bottom: 40px;
    position: relative;
}

.cv-feature .cv-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: table;
    text-align: center;
    background: #f2f3f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.cv-feature .cv-icon i {
    display: table-cell;
    vertical-align: middle;
    color: #2c98f0;
    font-size: 60px;
    height: 100px;
}

@media screen and (max-width: 1200px) {
    .cv-feature .cv-icon i {
        font-size: 40px;
    }
}

.cv-feature .cv-text {
    padding-left: 120px;
    width: 100%;
}

.cv-feature .cv-text h2,
.cv-feature .cv-text h3 {
    margin: 0;
    padding: 0;
}

.cv-feature .cv-text h3 {
    font-weight: 500;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.cv-feature.cv-feature-sm .cv-text {
    margin-top: 30px;
}

.cv-feature.cv-feature-sm .cv-icon i {
    color: #2c98f0;
    font-size: 40px;
}

@media screen and (max-width: 1200px) {
    .cv-feature.cv-feature-sm .cv-icon i {
        font-size: 28px;
    }
}

.project {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.project .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c98f0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.project .desc .con {
    padding: 20px;
    display: block;
    position: relative;
    height: 300px;
}

.project .desc h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    margin-bottom: 15px;
}

.project .desc h3 a {
    color: #fff;
}

.project .desc span {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
}

.project .desc span a {
    color: #000;
}

@media screen and (max-width: 768px) {
    .project .desc {
        opacity: 1;
        background: rgba(0, 0, 0, 0.4);
    }

    .project .desc h3 {
        font-style: 28px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        color: #000;
    }

    .project .desc span {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.project:hover .desc {
    opacity: 1;
}

.project:hover .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.project:hover .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.cv-bg-color {
    background: #fafafa;
    position: relative;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 15px !important;
}

.btn.btn-sm {
    padding: 4px 15px !important;
}

.btn.btn-md {
    padding: 8px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #2c98f0;
    color: #fff;
    border: 2px solid #2c98f0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #44a4f2 !important;
    border-color: #44a4f2 !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #2c98f0;
    border: 2px solid #2c98f0;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #2c98f0;
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: transparent;
    background: #f2f3f7;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    background: #f0f0f0;
}

#message {
    height: 130px;
}

.cv-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}

.cv-nav-toggle.active i::before,
.cv-nav-toggle.active i::after {
    background: #000;
}

.cv-nav-toggle.dark.active i::before,
.cv-nav-toggle.dark.active i::after {
    background: #000;
}

.cv-nav-toggle:hover,
.cv-nav-toggle:focus,
.cv-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.cv-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.cv-nav-toggle i::before,
.cv-nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cv-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.cv-nav-toggle.dark i::before,
.cv-nav-toggle.dark i::after {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.cv-nav-toggle i::before {
    top: -7px;
}

.cv-nav-toggle i::after {
    bottom: -7px;
}

.cv-nav-toggle:hover i::before {
    top: -10px;
}

.cv-nav-toggle:hover i::after {
    bottom: -10px;
}

.cv-nav-toggle.active i {
    background: transparent;
}

.cv-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.cv-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.cv-nav-toggle {
    position: fixed;
    left: -5px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .cv-nav-toggle {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 1em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 3em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 1em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 1em;
    }
}

.row-pt-md {
    padding-top: 3em;
}

.col-padding {
    padding: 10px !important;
}

.js .animate-box {
    opacity: 0;
}