*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  padding: 10px 0;
  animation: test 7s linear infinite;
}
@keyframes test {
  0% {
    background-color: #ef7126;
    color: #f9e559;
  }
  25% {
    background-color: #6f3662;
    color: #ffffff;
  }
  50% {
    background-color: #9f6164;
    color: #f8debd;
  }
  75% {
    background-color: #44b3c2;
    color: #ffffff;
  }
  100% {
    background-color: #218c8d;
    color: #f9e559;
  }
}
.container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 100px;
}
.img {
  flex: 30%;
  margin: 10px;
}
.img img {
  display: block;
  max-width: 100%;
  transition: all 1s ease;
  border: 4px solid #fff;
}
.img:hover img {
  transform: scale(1.3);
}
