@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    background-color: #eee;
    line-height: 1.5;
}
.container {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding: 20px;
}
a.img {
	text-align: center;
    text-decoration: none;
    float: left;
}
img {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.img p{
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
.content h2 {
	text-align: center;
	text-transform: uppercase;
}
.text-bold-red {
	font-weight: bold;
	color: red;
}
