* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(102.7deg, #fddaff 8.2%, #dfadfc 19.6%, #adcdfc 36.8%, #adfcf4 73.2%, #caf8d0 90.9%);
}

img {
    display: inline-block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.todo-input {
    border-bottom: 2px solid #ccc;
}
.todo-input input {
    min-width: 350px;
    height: 40px;
    line-height: 40px;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    outline: none;
}
.todo-input input:focus {
    outline: none;
}
.todo-input button {
    display: inline-block;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #f2eeef;
    background-color: #a4a1b5;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.todo-input button:hover {

}

.todo-option {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 0;
}

.todo-option-item {
    border: 1px solid #ccc;
    padding: 6px;
    margin-left: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.todo-option-item input {
    margin-right: 4px;
}

.todo-container {
    margin-top: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 6px;
    padding: 10px 6px;
    font-size: 14px;
}

.todo-item.active-todo .todo-item-title p{
    position: relative;
    font-style: italic;
}

.todo-item.active-todo .todo-item-title p::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #399980;
}

.todo-item-title {
    display: flex;
    align-items: center;    
}

.todo-item-title input {
    margin-right: 6px;
}

.btn {
    opacity: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in;
}
.todo-item:hover .btn {
    opacity: 1;
}

.btn img {
    display: inline-block;
    width: 20px;
    height: 20px;
}
