@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root {
    --main-color: #086ad8;
    --para-color: #666666;
    --heading-color: #333333;
    --icon-color: #34b1c4;
    --hover-color: #623aa2;
    --white-color: #fff;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0 !important;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a {
    text-decoration: none !important;
}

a,
button {
    transition: all 0.2s linear;
}

.section_title {
    margin-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* =========================
======== HEADER ===========
========================= */
@media (max-width: 767px) {
    .mobile_menu {
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 9;
    }
}

.slicknav_menu .slicknav_nav {
    background: var(--white-color);
    float: right;
    margin-top: 0;
    padding: 0;
    width: 95%;
    padding: 0;
    border-radius: 0;
    margin-top: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 11px;
}

.slicknav_menu .slicknav_nav a:hover {
    background: 0 0;
    color: var(--main-color);
}

.slicknav_menu .slicknav_nav a.active {
    color: var(--main-color);
}

@media (max-width: 767px) {
    .slicknav_menu .slicknav_nav a i {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slicknav_menu .slicknav_nav a i {
        display: none;
    }
}

.slicknav_menu .slicknav_nav .slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -40px;
    position: relative;
    z-index: 99;
    border: 1px solid #ddd;
    top: 3px;
    right: 5px;
    top: -36px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
    margin-right: 6px;
    margin-top: 3px;
    position: relative;
    padding-bottom: 3px;
    top: -11px;
    right: -5px;
}

@media (max-width: 767px) {
    .slicknav_menu {
        margin-right: 0;
    }
}

.slicknav_nav .slicknav_arrow {
    float: right;
    font-size: 22px;
    position: relative;
    top: -9px;
}

.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    z-index: 99;
    border: none;
    border-radius: 3px;
    top: 5px;
    padding: 5px;
    right: 5px;
    margin-top: -5px;
    top: -31px;
}

.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    z-index: 99;
    border: none;
    border-radius: 3px;
    top: 5px;
    padding: 5px;
    right: 0;
    margin-top: -5px;
    top: -33px;
}

.header-area {
    position: relative;
    z-index: 9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
}

.header-area .img-logo {
    width: 120px;
}

@media (max-width: 767px) {
    .header-area {
        padding-top: 0;
    }

    .header-area .img-logo {
        width: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area {
        padding-top: 0;
    }
}

.header-area .main-header-area {
    background: var(--white-color);
    background: 0 0;
}

@media (max-width: 767px) {
    .header-area .main-header-area {
        padding: 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header-area {
        padding: 10px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .main-header-area {
        padding: 10px 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .header-area .main-header-area {
        padding: 10px 50px;
    }
}

.header-area .main-header-area .logo-img {
    text-align: center;
}

@media (max-width: 767px) {
    .header-area .main-header-area .logo-img {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header-area .logo-img {
        text-align: left;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .main-header-area .logo-img {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .header-area .main-header-area .logo-img img {
        width: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header-area .logo-img img {
        width: 70px;
    }
}

.header-area .main-header-area .social_icon ul li {
    display: inline-block;
}

.header-area .main-header-area .social_icon ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: var(--heading-color);
    text-align: center;
    line-height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid var(--heading-color);
    font-size: 14px;
    margin-left: 6px;
}

.header-area .main-header-area.sticky .social_icon ul li a {
    color: var(--heading-color);
}

.header-area .main-header-area .social_icon ul li a:hover {
    color: var(--main-color);
}

.header-area .main-header-area .main-menu {
    text-align: center;
}

.header-area .main-header-area .main-menu ul li {
    display: inline-block;
    position: relative;
}

.header-area .main-header-area .main-menu ul li a {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 35px 15px;
    font-family: Roboto, sans-serif;
    position: relative;
}

.header-area .main-header-area.sticky .main-menu ul li a {
    color: var(--heading-color);
}

.header-area .main-header-area.sticky .main-menu ul li a.active-link {
    color: var(--main-color);
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .main-header-area .main-menu ul li a {
        font-size: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .header-area .main-header-area .main-menu ul li a {
        font-size: 15px;
    }
}

.header-area .main-header-area .main-menu ul li a i {
    font-size: 30px;
}

@media (max-width: 767px) {
    .header-area .main-header-area .main-menu ul li a i {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header-area .main-menu ul li a i {
        display: none !important;
    }
}

.header-area .main-header-area .main-menu ul li .submenu {
    position: absolute;
    left: 0;
    top: 160%;
    background: var(--white-color);
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.header-area .main-header-area .main-menu ul li .submenu li {
    display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
    padding: 10px 15px;
    position: inherit;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
    display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
    color: #000;
}

.header-area .main-header-area .main-menu ul li:hover>.submenu {
    opacity: 1;
    visibility: visible;
    top: 150%;
}

.header-area .main-header-area .main-menu ul li:hover>a::before {
    opacity: 1;
    transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
    padding-left: 0;
}

.header-area .main-header-area.sticky {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 990;
    transform: translateY(70px);
    transition: transform 0.5s ease, background 0.5s ease;
    -webkit-transition: transform 0.5s ease, background 0.5s ease;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.96);
    background: var(--white-color);
    padding-bottom: 0;
}

@media (max-width: 767px) {
    .header-area .main-header-area.sticky {
        padding: 10px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header-area.sticky {
        padding: 10px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .main-header-area.sticky {
        padding: 20px 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .header-area .main-header-area.sticky {
        padding: 10px 20px;
    }
}

.header-area .main-header-area.sticky .main-menu {
    padding: 0;
}

.header-area .main-header-area.sticky .header_bottom_border {
    border-bottom: none;
}

.header-area .main-header-area.sticky .header_bottom_border.white_border {
    border-bottom: none !important;
}


/* =========================
======== INTRO ===========
========================= */
.bg-gradient {
    background-image: linear-gradient(90deg, rgba(2,59,166,1) 0%, rgba(67,126,235,1) 100%);
    background-color: #437eeb;
}
.default-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}
.text-light {
    color: #f8f9fa!important;
}
.overflow-hidden {
    overflow: hidden!important;
}
.start-us-area .fixed-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-size: contain;
}

.start-us-area .info h2 {
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
    font-size: 3rem;
}



.start-us-area .thumb {
    padding-left: 35px;
}

.start-us-area .thumb img {
    max-width: 140%;
}

.start-us-area .info a {
    margin-top: 20px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    position: relative;
    border: 1px solid #e7e7e7;
    text-transform: capitalize;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.35s ease-in-out;
}

.btn-standard.md {
    padding: 13px 45px;
}

.btn-standard i {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #437eeb;
    font-size: 15px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px #cccccc;
    z-index: 1;
    margin-right: 5px;
    background: #ffffff;
}

.bg-gradient .btn-standard:hover {
    background: #ffffff;
    color: #437eeb;
}
/* =========================
======== TRACK ===========
========================= */
.track-section {
    padding: 100px 0;
    background-image: url(https://techmaster.vn/resources/image/pngwing.com.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.track-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.95;
}

.timeline-centered {
    position: relative;
    margin-bottom: 30px
}

.timeline-centered:after,
.timeline-centered:before {
    content: " ";
    display: table
}

.timeline-centered:after {
    clear: both
}

.timeline-centered:after,
.timeline-centered:before {
    content: " ";
    display: table
}

.timeline-centered:after {
    clear: both
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 20px;
    bottom: 20px;
    /* margin-left: 29px */
}

.timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    /* margin-left: 30px; */
    margin-bottom: 10px;
    clear: both
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff;
    display: inline-block
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #a84cb8
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #2fa499
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: var(--white-color);
    width: 20px;
    height: 20px;
    margin-left: 10px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f2f3f7;
    padding: 1.5em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p {
    margin-top: 15px
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    font-size: 16px;
    color: var(--para-color);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important
}

.w-100 {
    width: 100% !important;
}

@media (max-width:992px) {
    #track .java__sub-title {
        display: flex
    }

    .timeline-centered:before {
        margin-left: 29px;
    }

    .timeline-centered .timeline-entry {
        margin-left: 30px;
    }

    .w-100 {
        width: auto !important;
    }
}

@media (max-width:576px) {
    #track {
        padding: 3rem 0
    }

    #track .java__sub-title {
        font-size: 16px
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        margin-left: 45px
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
        width: 30px;
        height: 30px;
        line-height: 30px
    }

    .timeline-centered .timeline-entry .timeline-entry-inner {
        margin-left: 0
    }

    .timeline-centered .timeline-entry {
        margin-left: 0
    }

    .timeline-centered:before {
        width: 2px;
        margin-left: 14px
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        padding: 1rem
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
        font-size: 18px;
        margin-bottom: 1rem !important
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
        margin-left: 5px
    }
}

/* =========================
======== TEACHER ===========
========================= */
.testimonial__carousel {
    background-color: #f4feff;
    padding: 100px 0;
}

.testimonial__item {
    background: #fff;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 2px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.testimonial__item::after {
    position: absolute;
    left: 0;
    bottom: -100%;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #437eeb 0%, #093ac1 100%);
    opacity: 0;
    z-index: -1;
    transition: all 0.25s ease-in-out;
}

.testimonial__item:hover::after {
    opacity: 1;
    bottom: 0;
}

.testimonial__item:hover h5,
.testimonial__item:hover span,
.testimonial__item:hover p {
    color: #fff;
}

.testimonial__item__teacher {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.testimonial__item img {
    margin-top: -50px;
}

.testimonial__item h5 {
    font-size: 20px;
    color: #323232;
    font-weight: 700;
    margin: 10px 0 8px;
}

.testimonial__item>span {
    margin-bottom: 25px;
}

.testimonial__item span {
    display: block;
    font-size: 15px;
    color: var(--main-color);
}

.testimonial__item p {
    margin-bottom: 0;
    font-size: 16px;
    text-align: left;
    margin-bottom: 6px;
    color: var(--para-color);
    display: flex;
    margin-top: 1rem;
}

.testimonial__item p span {
    margin-right: 7px;
}

.testimonial__item p:last-child {
    margin-bottom: 0;
}

/* =========================
======== CONTACT ===========
========================= */
.contact-section {
    padding: 100px 0;
}

.contact-section .form-contact .form-group {
    margin-bottom: 0;
}

.contact-section .form-contact .form-control {
    margin-bottom: 1.4rem;
}

.contact-section .form-contact .form-control:focus {
    border: 1px solid var(--main-color)
}

.form-contact label {
    font-size: 14px;
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: 0 0;
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999;
}

.form-contact textarea {
    border-radius: 0;
    height: 100% !important;
}

.input__row {
    position: relative;
}

.input__row.success input {
    border-color: #2ecc71;
}

.input__row.error input {
    border-color: #e74c3c;
}

.input__row i {
    visibility: hidden;
    position: absolute;
    top: 13px;
    right: 10px;
}

.input__row.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.input__row.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.input__row small {
    color: #e74c3c;
    position: absolute;
    bottom: -22px;
    left: 0;
    visibility: hidden;
}

.input__row.error small {
    visibility: visible;
}


.boxed-btn {
    background: 0 0;
    color: #131313;
    display: inline-block;
    padding: 12px 42px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    letter-spacing: 0;
    text-align: center;
    color: var(--main-color) !important;
    text-transform: capitalize;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
    .boxed-btn {
        padding: 12px 30px;
    }
}

.boxed-btn:hover {
    background: var(--main-color);
    color: var(--white-color) !important;
    border: 1px solid var(--main-color);
}

.boxed-btn:focus {
    outline: 0;
}

.contact-section .left-item .info-items .item {
    display: flex;
    margin-bottom: 35px;
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 30px;
}

.contact-section .left-item .info-items .item .info {
    padding-left: 20px;
}

.contact-section .left-item .info-items .item .icon i {
    display: inline-block;
    font-size: 40px;
    background: linear-gradient(90deg, rgba(30, 85, 189, 1) 0%, rgba(67, 126, 235, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-section .left-item .info-items .item:last-child {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.contact-section .left-item .info-items {
    padding: 50px 37px;
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
    position: relative;
    display: block;
    background: #ffffff;
}

.contact-section .left-item .info-items::before {
    position: absolute;
    right: -15px;
    top: 15px;
    height: 100%;
    width: 100%;
    content: "";
    background: #ffffff;
    z-index: -1;
    box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}

.contact-section .right-item {
    padding-left: 50px;
}

.contact-section .left-item .info-items .item .info h4,
.contact-section .left-item .info-items .item .info h5 {
    text-transform: capitalize;
    font-weight: 800;
}

.contact-section .left-item .info-items .item .info p {
    margin-bottom: 0;
    color: var(--para-color);
}

.contact-section .right-item {
    padding-left: 50px;
}

/* =========================
======== MAP ===========
========================= */
.maps-area {
    overflow: hidden;
}

.google-maps iframe {
    border: medium none;
    height: 550px;
    margin-bottom: -10px;
    width: 100%;
}

/* =========================
======== BLOG ===========
========================= */

.blog-section {
    background-color: #f4feff;
    padding: 100px 0;
}

.blog__item {
    overflow: hidden;
    box-shadow: 0 0 10px #cccccc;
    background: #ffffff;
}

.blog__item__pic img {
    min-width: 100%;
    height: 252px;
    object-fit: cover
}

.blog__item__text {
    padding: 30px;
}

.blog__item__text ul {
    margin-bottom: 15px
}

.blog__item__text ul li {
    font-size: 16px;
    color: #b2b2b2;
    list-style: none;
    display: inline-block;
    margin-right: 15px
}

.blog__item__text ul li i {
    display: inline-block;
    color: var(--main-color);
}

.blog__item__text ul li:last-child {
    margin-right: 0
}

.blog__item__text h5 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 700;
    line-height: 1.4;
}

.blog__item__text p {
    margin-bottom: 25px;
    color: var(--para-color)
}

.blog__item__text .blog__btn {
    display: inline-block;
    font-size: 14px;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #b2b2b2;
    padding: 14px 20px 12px;
    border-radius: 25px
}

.blog__item__text .blog__btn span {
    position: relative;
    top: 1px;
    margin-left: 5px
}

.mt-30 {
    margin-top: 30px;
}

.btn-read-more-blog {
    display: inline-block;
    border: 1px solid var(--main-color);
    /* margin-top: 30px; */
    padding: 15px 40px;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 700;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
}

.btn-read-more-blog:after {
    background: linear-gradient(90deg, rgba(67, 126, 235, 1) 0%, rgba(30, 85, 189, 1) 100%);
    color: #ffffff;
    border-color: transparent;
    position: absolute;
    left: -100%;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.25s ease-in-out;
}

.btn-read-more-blog:hover {
    color: #fff;
}

.btn-read-more-blog:hover:after {
    left: 0;
}

/* =========================
======== GALLERY ===========
========================= */
.gallery_area {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .gallery_area {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .gallery_area {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.photos {
    padding-left: 0;
    padding-right: 0;
}

.photos .image--container>div {
    padding: 0;
}

.photos .photo-item {
    position: relative;
}

.photos .photo-item:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(97, 92, 253, 0.4);
    z-index: 1;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
}

.photos .photo-item .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.photos .photo-item .photo-text-more .icon {
    display: inline-block;
    color: var(--white-color);
    font-size: 42px;
    border-radius: 50%;
}

.photos .photo-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 300px;
    transition: all 0.3s ease;
}

@media (max-width: 575.98px) {
    .photos .photo-item img {
        height: 300px;
        object-fit: cover;
    }
}

.photos .photo-item:hover:after {
    opacity: 1;
    visibility: visible;
}

.photos .photo-item:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}

/* =========================
======== FOOTER ===========
========================= */
.footer-section {
    position: relative;
    z-index: 1;
}

.bg-dark {
    /* background: #f9f9f9 !important; */
    background: #111d30 none repeat scroll 0 0 !important;
}

.text-light {
    color: #f8f9fa !important;
}

.footer-section .footer-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center bottom;
    opacity: 0.05;
}

.footer-section a {
    text-decoration: none;
}

.footer-section {
    padding: 7em 0;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section h3 {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.footer-section .footer-links li {
    margin-bottom: 10px;
}

.footer-section .social_icon ul li {
    display: inline-block;
}

.footer-section .social_icon ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.footer-section .social_icon ul li:first-child a {
    margin-left: 0;
}

.facebook-icon {
    background-color: #4267B2;
    border: 1px solid #4267B2;
}

.youtube-icon {
    background-color: #cd201f;
    border: 1px solid #cd201f;
}

.gmail-icon {
    background-color: #EA4335;
    border: 1px solid #EA4335;
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: 0 0;
}

.footer-section .form-contact .form-control {
    margin-bottom: 1.4rem;
}

.footer-section .supporter_item {
    display: flex;
    margin-top: 1.5rem;
}

.footer-section .supporter_item .supporter_thumb {
    overflow: hidden;
}

.footer-section .supporter_item .supporter_thumb img {
    width: 100px;
    height: 100px;
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
}

.footer-section .supporter_item .supporter_info {
    padding-left: 1.5rem;
}

.footer-section .supporter_item .supporter_info p {
    margin-bottom: 6px;
    font-weight: 700;
}

.footer-section p a {
    color: #fff;
    font-weight: 400;
}


/* =========================
======== Price ===========
========================= */
.best-pricing {
    position: relative
}

.best-pricing::before {
    background-image: linear-gradient(90deg, rgba(2,59,166,1) 0%, rgba(67,126,235,1) 100%);
    background-color: #437eeb;
}

.best-pricing::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    opacity: .95;
}

.best-pricing.pricing-padding {
    padding-top: 110px;
    padding-bottom: 280px;
    background-size: cover;
    background-repeat: no-repeat
}

.best-pricing.pricing-padding2 {
    padding-top: 300px;
    padding-bottom: 280px
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .best-pricing.pricing-padding2 {
        padding-top:300px;
        padding-bottom: 280px
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .best-pricing.pricing-padding2 {
        padding-top:160px
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .best-pricing.pricing-padding2 {
        padding-top:160px
    }
}

@media(max-width: 767px) {
    .best-pricing.pricing-padding2 {
        padding-top:160px
    }
}

.best-pricing::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    opacity: .95
}

.best-pricing.best-pricing2::before {
    display: none
}

.best-pricing .section_title {
    color: #fff;
}

.pricing-card-area {
    margin-top: -295px;
    padding-bottom: 100px;
}

.pricing-card-area .single-card {
    position: relative;
    background: #fff;
    padding: 40px 25px;
    border-radius: 6px;
    box-shadow: 0 0 9px 0 rgba(131,93,248,.07);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.pricing-card-area .single-card::before {
    background-image: url(https://preview.colorlib.com/theme/appco/assets/img/gallery/card_dot.png);
    content: "";
    width: 171px;
    height: 134px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: -1;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

@media(max-width: 767px) {
    .pricing-card-area .single-card::before {
        display:none
    }
}

.pricing-card-area .single-card .card-top {
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 46px
}

.pricing-card-area .single-card .card-top span {
    color: #57667e;
    font-size: 24px;
    margin-bottom: 19px;
    display: inline-block
}

.pricing-card-area .single-card .card-top h4 {
    color: #6a56a6;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 26px;
    padding-right: 3px;
    font-family: poppins,sans-serif
}

.pricing-card-area .single-card .card-top h4 span {
    color: #6a56a6;
    font-size: 16px
}

.pricing-card-area .single-card .card-bottom ul li {
    color: var(--para-color);
    margin-bottom: 16px;
    font-size: 16px
}

.pricing-card-area .single-card .card-bottom ul li:last-child {
    margin-bottom: 45px
}

.pricing-card-area .single-card.active {
    box-shadow: 0 10px 30px 0 rgba(133,66,189,.1)
}

.pricing-card-area .single-card.active::before {
    right: -20px;
    bottom: -21px
}

.pricing-card-area .single-card.active .btn::before {
    transform: scaleX(1);
    color: #fff!important;
    z-index: -1
}

.pricing-card-area .single-card:hover {
    box-shadow: 0 10px 30px 0 rgba(133,66,189,.1)
}

.pricing-card-area .single-card:hover::before {
    right: -20px;
    bottom: -21px
}

.pricing-card-area .single-card:hover .btn::before {
    transform: scaleX(1);
    color: #fff!important;
    z-index: -1
}

/* =========================
======== features ===========
========================= */
.mb-70 {
    margin-bottom: 70px;
}

.best-features-area {
    position: relative;
    padding: 100px 0 30px;
    background-color: #f4feff;
}

.best-features-area .single-features {
    display: flex
}

@media(max-width: 767px) {
    .best-features-area .single-features {
        margin-bottom:30px
    }
}

.best-features-area .single-features .features-icon span {
    position: relative;
    color: #fff;
    font-size: 30px;
    height: 67px;
    width: 67px;
    display: block;
    line-height: 67px;
    border-radius: 50%;
    text-align: center;
    background-image: -moz-linear-gradient(90deg, rgba(2,59,166,1) 0%, rgba(67,126,235,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(2,59,166,1) 0%, rgba(67,126,235,1) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(2,59,166,1) 0%, rgba(67,126,235,1) 100%)
}

.best-features-area .single-features .features-caption {
    padding-left: 19px
}

.best-features-area .single-features .features-caption h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    color: var(--heading-color)
}

.best-features-area .single-features .features-caption p {
    color: var(--para-color);
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .best-features-area .single-features .features-caption p {
        font-size:15px
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .best-features-area .single-features .features-caption p {
        font-size:15px
    }
}

@media(max-width: 767px) {
    .best-features-area .single-features .features-caption p {
        font-size:13px
    }
}

.best-features-area .features-shpae {
    position: absolute;
    left: 30px;
    top: 50px
}

.best-features-area .features-shpae.features-shpae2 {
    top: 50px
}

@media(min-width: 1200px) and (max-width:1500px) {
    .best-features-area .features-shpae.features-shpae2 {
        top:246px!important;
        transform: translateY(0)
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .best-features-area .features-shpae.features-shpae2 {
        top:300px
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .best-features-area .features-shpae.features-shpae2 {
        top:300px
    }
}

@media only screen and (min-width: 1200px) and (max-width:1300px) {
    .best-features-area .features-shpae {
        top:50%;
        transform: translateY(-50%)
    }
}

.best-features-area .features-shpae img {
    max-width: 80%
}

@media(min-width: 1200px) and (max-width:1500px) {
    .best-features-area .features-shpae img {
        max-width:70%
    }
}

@media only screen and (min-width: 1200px) and (max-width:1300px) {
    .best-features-area .features-shpae img {
        max-width:50%;
        top: 50%
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .best-features-area .features-shpae img {
        display:none!important
    }
}

