footer
    .footer--wrapper
        .footer__sub-menu
            a(href='#') Sub menu 1
            a(href='#') Sub menu 1
            a(href='#') Sub menu 1
            a(href='#') Sub menu 1
        .footer__sub-menu
            a(href='#') Sub menu 2
            a(href='#') Sub menu 2
            a(href='#') Sub menu 2
            a(href='#') Sub menu 2
        .footer__sub-menu
            a(href='#') Sub menu 3
            a(href='#') Sub menu 3
            a(href='#') Sub menu 3
            a(href='#') Sub menu 3